<div class="container modal-ajcuenta">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "VERIF_PERFIL.TITULO" | translate }}</h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>
      {{ "VERIF_PERFIL.DESCRIPCION_SECCION" | translate }}
    </p>
    <ul>
      <li>{{ "VERIF_PERFIL.LI_CORREO" | translate }}</li>
      <li>{{ "VERIF_PERFIL.LI_TELÉFONO" | translate }}</li>
      <li>{{ "VERIF_PERFIL.LI_DNI" | translate }}</li>
    </ul>

    <p>
      {{ "VERIF_PERFIL.DESCRIPCION_SECCION_2" | translate }}
    </p>
    <p>
      {{ "VERIF_PERFIL.DESCRIPCION_SECCION_3" | translate }}
    </p>

    <mat-divider></mat-divider>

    <!-- Verificación correo electrónico -->
    <div class="mt-2">
      <p class="d-flex justify-content-center">
        <strong>{{ "VERIF_PERFIL.VERIFICA_TU_CORREO" | translate }}</strong>
      </p>
      <ion-row class="mb-4">
        <ion-col>
          <div class="d-flex justify-content-center align-items-center">
            <button type="btn" class="btn_bg" mat-raised-button>
              micorreo
            </button>
          </div>
        </ion-col>
        <ion-col>
          <p>
            {{ "VERIF_PERFIL.INFO_VERIF_CORREO" | translate }}
          </p>
        </ion-col>
      </ion-row>
    </div>

    <mat-divider></mat-divider>

    <!-- Verificación teléfono -->
    <div class="mt-2">
      <p class="d-flex justify-content-center mb-0">
        <strong> {{ "VERIF_PERFIL.VERIFICA_TU_TFNO" | translate }}</strong>
      </p>
      <ion-row class="mb-4">
        <ion-col class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn_bg" mat-raised-button type="btn">
              66666666666
            </button>
          </div>
        </ion-col>
        <ion-col>
          <p>{{ "VERIF_PERFIL.INFO_VERIF_TFNO" | translate }}</p>
          <div class="input-container">
            <input type="text" maxlength="1" class="digit-input" />
            <input type="text" maxlength="1" class="digit-input" />
            <input type="text" maxlength="1" class="digit-input" />
            <input type="text" maxlength="1" class="digit-input" />
          </div>
          <div>
            <button
              type="button"
              class="btn mt-2 btn_bg"
              mat-raised-button
              style="
                background-color: #a758e8;
                width: 200px;
                height: 30px;
                font-size: 12px;
              "
            >
              {{ "BOTON.CONFIRMAR_CODIGO_TFNO" | translate }}
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <mat-divider></mat-divider>

    <!-- Verificación DNI -->
    <div class="mt-2">
      <p class="d-flex justify-content-center">
        <strong>{{ "VERIF_PERFIL.VERIF_TU_IDENTIDAD" | translate }}</strong>
      </p>
      <ion-row>
        <ion-col class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center">
            <div class="file-upload">
              <label for="identidad" class="upload-button">+</label>
              <input
                type="file"
                id="identidad"
                class="file-input"
                accept="image/*"
                multiple
              />
            </div>
          </div>
        </ion-col>

        <ion-col>
          <p>
            {{ "VERIF_PERFIL.INFO_VERIFIDENTIDAD" | translate }}
          </p>
        </ion-col>
      </ion-row>
    </div>

    <mat-divider style="height: 4px; background-color: black"></mat-divider>

    <!-- Verificación carnet de conducir -->
    <div class="mt-2 mb-2">
      <h4>{{ "VERIF_PERFIL.VERIF_ADIC_CONDUCIR" | translate }}</h4>
      <p style="color: #ff4040">
        {{ "VERIF_PERFIL.INFO_VERIFCONDUCIR" | translate }}
      </p>
      <div class="file-upload d-flex justify-content-center">
        <label for="carnetconducir" class="upload-button">+</label>
        <input
          type="file"
          id="carnetconducir"
          class="file-input"
          accept="image/*"
          multiple
        />
      </div>
    </div>

    <mat-divider style="height: 4px; background-color: black"></mat-divider>

    <!-- Cambio de contraseña -->
    <div class="mt-2">
      <p class="d-flex justify-content-center">
        <strong>{{ "VERIF_PERFIL.CAMBIO_CONTRAS" | translate }}</strong>
      </p>
      <ion-row class="mb-4">
        <ion-col>
          <div class="mb-3">
            <label for="cActual" class="form-label">{{
              "VERIF_PERFIL.CONTRAS_ACTUAL" | translate
            }}</label>
            <input type="password" class="form-control" id="cActual" />
          </div>
          <div class="mb-1">
            <label for="pNueva" class="form-label">{{
              "VERIF_PERFIL.NUEVA_CONTRAS" | translate
            }}</label>
            <input type="password" class="form-control" id="pNueva" />
          </div>
          <div class="mb-1">
            <label for="pNuevaConf" class="form-label">{{
              "VERIF_PERFIL.CONF_NUEVA_CONTRAS" | translate
            }}</label>
            <input type="password" class="form-control" id="pNuevaConf" />
          </div>
        </ion-col>
        <ion-col class="d-flex justify-content-center align-items-center">
          <div>
            <button type="button" class="btn btn_bg" mat-raised-button>
              {{ "BOTON.CAMBIAR" | translate }}
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <mat-divider></mat-divider>

    <div class="mt-2">
      <p class="d-flex justify-content-center mb-0">
        <strong>{{ "VERIF_PERFIL.ELIMINAR_CTA" | translate }}</strong>
      </p>
      <div>
        <p style="color: red; font-weight: bold; text-align: justify">
          {{ "VERIF_PERFIL.INFO_ELIMINAR_CTA" | translate }}
        </p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn_bg" mat-raised-button>
            {{ "BOTON.ELIMINAR_CTA" | translate }}
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
