:host {
  --ion-background-color: #E0A667;
  --ion-text-color: #000000;
}

ion-footer {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

::ng-deep ion-footer {
  --background: #E0A667;
  --color: #000000;
}

::ng-deep ion-toolbar {
  --background: inherit;
  --color: inherit;
}

ion-toolbar {
  background-color: inherit;
  color: inherit;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: row; /* Asegura que el icono y el texto estén en la misma fila */
  text-align: center;
  gap: 0.5rem; /* Espacio entre el icono y el texto */
}

.footer-link {
  font-size: 0.8rem;
  color: var(--ion-text-color);
  text-decoration: none;
  font-weight: 500;
  margin-top: 0.3rem; 
  white-space: nowrap; 
}

.footer-row > ion-col {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.footer-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  width: 40px;
  height: 40px;
  border-radius: 35px;
}

ion-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.sizeGrid {
  width: 100%;
  max-width: 260px;
}

ion-title {
  font-size: 0.8rem;
  color: black;
}