<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <ion-grid class="sizeGrid">
        <ion-row class="footer-row">
          <ion-col class="footer-item" size="4">
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
              </svg>
            </a>
            <a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                width="18"
                height="18"
                stroke-width="2"
              >
                <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
                <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
              </svg>
            </a>
          </ion-col>

          <ion-col class="footer-item" size="4">
            <a type="button" class="footer-link" (click)="openCookies()">{{
              "FOOTER.COOKIES" | translate
            }}</a>
            <a type="button" class="footer-link" (click)="openTerms()">{{
              "FOOTER.TERMS" | translate
            }}</a>
          </ion-col>

          <ion-col class="footer-item" size="4">
            <div class="footer-title-container">
              <img
                class="footer-logo"
                src="../../../assets/logo/PRIDECAR.png"
                alt="Logo de PrideRide"
              />
              <ion-title class="footer-title">PrideRide, 2025</ion-title>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-toolbar>
</ion-footer>
