<div id="contenedor_publicar_viaje" class="p-2">
  <ion-grid [fixed]="true" class="d-flex justify-content-center">
    <ion-row>
      <ion-col>
        <div>
          <img
            title="imagen publicación de viaje"
            src="../../../assets/imgs/bridge1.jpg"
            class="img_travel"
          />
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h2>{{ 'HOME.NEW_TRAVEL_TITLE' | translate }}</h2>
          <button type="button" mat-raised-button class="me-2 btns btn_bg" (click)="openNewTravel()">
            {{ 'HOME.NEW_TRAVEL_BUTTON' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
