<ion-grid>
  <ion-row>
    <!-- Columna izquierda: Fecha y plazas -->
    <ion-col class="line" size="12" size-xl="6">
      <h1 class="d-flex justify-content-center">ELIGE LA FECHA DEL VIAJE</h1>
      <div class="contenedor_calendario">
        <div class="d-flex justify-content-center">
          <ion-datetime 
          presentation="date" 
          [min]="hoy"
          [(ngModel)]="fecha_seleccionada"
          (ionChange)="onDateChange($event)"
        ></ion-datetime>
        </div>

        <p class="mt-2">Fecha seleccionada: {{ getFormattedDate() }}</p>
      </div>
      <h1 class="d-flex justify-content-center">NÚMERO DE PLAZAS</h1>
      <div class="contenedor_inputs">
        <ion-select 
          aria-label="n_personas" 
          placeholder="Número de plazas" 
          [(ngModel)]="viajeros" 
          class="form-control">
          <mat-icon slot="start">
            <span class="material-symbols-outlined">
              group
            </span>
          </mat-icon>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
        </ion-select>
      </div>
    </ion-col>
    
    <!-- Columna derecha: Hora y coche -->
    <ion-col size="12" size-xl="6">
      <div class="contenedor_seccion">
        <h1 class="d-flex justify-content-center">HORA DE SALIDA</h1>
        <div class="contenedor_hora">
          <ion-item lines="none">
            <ion-datetime-button datetime="timePicker"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="timePicker" presentation="time" (ionChange)="onTimeChange($event)" class="custom-datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </div>
        <p class="d-flex justify-content-center">Hora seleccionada: {{ getTime() }}</p>
      </div>

      <div class="contenedor_seccion">
        <h1 class="d-flex justify-content-center">COCHE PARA VIAJAR</h1>
        <div class="contenedor_inputs">
          <ion-select aria-label="coche_seleccionado" placeholder="Selecciona un coche" class="form-control">
            <mat-icon slot="start">
              <span class="material-symbols-outlined">
                directions_car
              </span>
            </mat-icon>
            <ion-select-option value="Coche 1">Coche 1</ion-select-option>
            <ion-select-option value="Coche 2">Coche 2</ion-select-option>
            <ion-select-option value="Coche 3">Coche 3</ion-select-option>
          </ion-select>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
