.contenedor_calendario,
.contenedor_inputs {
  width: 60%;
  margin: 0 auto;
}

.contenedor_hora {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

/**
* Configuración para el botón de selección de la hora
* ---------------------------------------------------
*/
ion-datetime-button{
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.custom-datetime {
  --background: #ffffff;
  --color: #000000;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  margin: 0;
}

ion-datetime .datetime-text {
  text-align: center;
  font-weight: bold;
}

ion-item {
  --background: transparent;
  border: none;
}

ion-select{
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.line {
  border-right: 2px solid #e0a667;
}

@media (max-width: 768px) {
  .contenedor_calendario,
  .contenedor_hora,
  .contenedor_inputs {
    width: 100%;
    margin: 0 auto;
  }
  h1 {
    font-size: 1rem;
  }
  .line {
    border-right: none;
  }
}

/*
* CONFIGURACIÓN PARA EL CALENDARIO
* -------------------------------------------
*/
ion-datetime {
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  border-radius: 15px;
}

/*
* Configuración para el día activo(hoy) 
* y para el día seleccionado.
* -------------------------------------------
*/
ion-datetime.md::part(calendar-day active),
ion-datetime.md::part(calendar-day active):focus {
  background-color: #B3B5E6;
  border-color: #B3B5E6;
  color: #fff;
}

ion-datetime.md::part(calendar-day today) {
  border-color: #B3B5E6;
}

/*
* Configuración para iOS.
* -------------------------------------------
*/
ion-datetime.ios::part(calendar-day active),
ion-datetime.ios::part(calendar-day active):focus {
  background-color: rgb(154 209 98 / 0.2);
  color: #B3B5E6;
}
