.btn_opciones {
  width: 238px;
}

.boton-foto {
  position: absolute;
  top: 40%;
  left: -26%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  height: 40px;
  width: auto;
}

.img_profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.img-container {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}


.boton-x {
  position: absolute;
  top: 17%;
  left: 77%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  height: 13%;
  width: 12%;
}

.text-boton {
  font-size: 1.2rem;
  color: black !important;
  border: 1px solid black;
  border-radius: 50%;
}

.boton {
  clip-path: polygon(0 0, 100% 0, 100% 12%, 98% 50%, 100% 90%, 100% 100%, 0 100%);
}

@media (max-width: 576px) {
  .boton-foto {
    width: 50px;
    height: 60px;
  }

  .botonera {
    flex-direction: column !important;
    display: flex !important;
  }

  .botonera ion-col {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
  }

  .btn_bg {
    width: 238px;
  }

  .boton-x {
    top: 33px;
    right: 5px;
    height: 36px;
    width: 25px;
  }

  .img-container {
    width: 180px;
    height: 180px;
  }
}
