<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>
<ion-content [fullscreen]="true">
  <div class="container d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center">
      <h2>{{ "PERFIL_USUARIO.INFO_PERSONAL" | translate }}</h2>
    </div>

    <ion-row class="d-flex justify-content-center mb-4 position-relative">
      <div class="boton-foto">
        <button type="button" class="btn btn_bg boton">
          {{ "PERFIL_USUARIO.FOTO" | translate }}
        </button>
      </div>
      <div class="boton-x">
        <button
          type="button"
          matTooltip="Elimina tu foto"
          class="btn text-boton d-flex justify-content-center align-items-center btn_bg"
        >
          X
        </button>
      </div>

      <ion-col>
        <div class="img-container">
          <img
            src="../../../assets/User-Profile-PNG-Image.png"
            class="img_profile"
          />
        </div>
        <ion-row class="d-flex justify-content-center">
          <div>
            <h5>
              {{ userData.usuario.nombre }} {{ userData.usuario.apellidos }}
            </h5>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="botonera">
      <ion-col size="auto">
        <button
          type="button"
          mat-raised-button
          class="btn btn_bg btn_opciones"
          (click)="openMiPerfil()"
        >
          Mi perfil
        </button>
        <div class="alert" *ngIf="userLoggedIn">
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="help_btn d-flex justify-content-center"
              title="Contenido de la sección Mi perfil"
              (click)="openHelpMiPerfil()"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </ion-col>

      <ion-col size="auto">
        <button
          type="button"
          mat-raised-button
          class="btn btn_bg btn_opciones"
          (click)="openHelpDatosContacto()"
        >
          Datos de contacto
        </button>
        <div class="alert" *ngIf="userLoggedIn">
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="help_btn d-flex justify-content-center"
              title="Contenido de la sección Mi perfil"
              (click)="OpenHelpVerificaciones()"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </ion-col>

      <ion-col size="auto">
        <button
          type="button"
          mat-raised-button
          class="btn btn_bg btn_opciones"
          (click)="openVerificarPerfil()"
        >
          Verificar Perfil / Password
        </button>
        <div class="alert" *ngIf="userLoggedIn">
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="help_btn d-flex justify-content-center"
              title="Contenido de la sección Mi perfil"
              (click)="OpenHelpVerificaciones()"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </ion-col>

      <ion-col size="auto">
        <button
          type="button"
          mat-raised-button
          class="btn btn_bg btn_opciones"
          (click)="openSaldoTransferencias()"
        >
          {{ "PERFIL_USUARIO.BT_SALDO" | translate }}
        </button>
        <div class="alert" *ngIf="userLoggedIn">
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="help_btn d-flex justify-content-center"
              title="Contenido de la sección Mi perfil"
              (click)="OpenHelpSaldo()"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
