<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>decalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>DECÁLOGO</h1>
    </div>
    <ion-accordion-group class="mb-3">
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            1. Respeto y no discriminación
          </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          Todos los usuarios deben tratarse con respeto, independientemente de
          su identidad de género, orientación sexual, raza, religión o cualquier
          otra característica. El lenguaje discriminatorio, ofensivo o agresivo
          no será tolerado.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            2. Privacidad y confidencialidad</ion-label
          >
        </ion-item>
        <div slot="content" class="p-3">
          La identidad y orientación sexual de los usuarios es un tema personal.
          Compartir información privada de otros usuarios fuera de la aplicación
          está estrictamente prohibido.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera"> 3. Espacios seguros </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          Los vehículos registrados deben ser espacios seguros donde todos se
          sientan cómodos siendo ellos mismos. Los usuarios deben comprometerse
          a crear un ambiente libre de juicios y hostilidad.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera"> 4. Verificación de identidad </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          Para garantizar la seguridad, todos los usuarios deben completar un
          proceso de verificación de identidad (por ejemplo, subir un documento
          oficial y una foto reciente).
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            5. Política de cancelaciones justas
          </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          Si un conductor o pasajero necesita cancelar un viaje, debe hacerlo
          con antelación y explicar la razón, para no perjudicar a otros
          usuarios..
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            6. Prohibición de actividades inapropiadas
          </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          No está permitido el consumo de alcohol, drogas ni conductas sexuales
          durante el viaje. El objetivo es crear una experiencia cómoda para
          todos los ocupantes.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera"
            >7. Códigos de conducta para comentarios
          </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          El sistema de reseñas y calificaciones debe usarse de manera
          constructiva, evitando ataques personales, lenguaje hostil o
          difamatorio.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            8. Aceptación de todas las identidades
          </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          La aplicación fomenta la inclusión de personas trans, no binarias,
          intersex y todas las identidades dentro del espectro LGTBIQ+. El
          respeto a los pronombres y nombres de las personas es obligatorio.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera"> 9. Seguridad en los viajes </ion-label>
        </ion-item>
        <div slot="content" class="p-3">
          Los conductores deben asegurarse de que sus vehículos cumplan con los
          requisitos legales y técnicos (por ejemplo, seguro, revisiones). Los
          pasajeros deben utilizar cinturones de seguridad y seguir las
          normativas locales de tránsito.
        </div>
      </ion-accordion>
      <ion-accordion class="mb-3">
        <ion-item slot="header" class="white-header">
          <ion-label class="cabecera">
            10. Denuncia y resolución de conflictos</ion-label
          >
        </ion-item>
        <div slot="content" class="p-3">
          La aplicación debe incluir una función para denunciar comportamientos
          inapropiados o peligrosos, con un equipo de soporte que gestione las
          incidencias de manera confidencial y rápida.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
