<ion-grid [fixed]="true" class="d-flex justify-content-center ">
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "{{ 'INFO.TEXT_ONE' | translate }}"
        </p>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "{{ 'INFO.TEXT_TWO' | translate }}"
        </p>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "{{ 'INFO.TEXT_THREE' | translate }}"
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
