<ion-grid [fixed]="true" class="d-flex justify-content-center">
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "Explora nuevas aventuras y destinos increíbles. Encuentra compañeros
          de viaje que compartan tu pasión por descubrir el mundo."
        </p>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "Planea tu próximo viaje con facilidad. Conéctate con personas que van
          en la misma dirección."
        </p>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div class="caja_texto">
        <p class="p-5">
          "Comparte tus experiencias y crea recuerdos inolvidables con viajeros
          como tú."
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
