<ion-grid [fixed]="true" class="d-flex justify-content-center">
  <ion-row>
    <ion-col class="d-flex justify-content-center">
      <div
        class="caja_texto"
        style="background-image: url('../../../assets/imgs/bridge1.jpg')"
      >
        <div class="caja_blur">
          <p style="text-size-adjust: inherit">
            "{{ "HOME.INFO.TEXTO_1" | translate }}"
          </p>
        </div>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div
        class="caja_texto"
        style="background-image: url('../../../assets/folder/jumbo4.jpg')"
      >
        <div class="caja_blur">
          <p class="p-5">"{{ "HOME.INFO.TEXTO_2" | translate }}"</p>
        </div>
      </div>
    </ion-col>
    <ion-col class="d-flex justify-content-center">
      <div
        class="caja_texto"
        style="background-image: url('../../../assets/folder/jumbo3.jpg')"
      >
        <div class="caja_blur">
          <p class="p-5">"{{ "HOME.INFO.TEXTO_3" | translate }}"</p>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
