<div class="container modal-ajcuenta">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "MODAL_AJCUENTA.TITULO" | translate }}</h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>
      {{ "MODAL_AJCUENTA.SUBTITULO" | translate }}
    </p>

    <mat-divider></mat-divider>

    <p class="d-flex justify-content-center">
      <strong>{{ "MODAL_AJCUENTA.CCONTRASENA_TITULO" | translate }}</strong>
    </p>
    <ion-row class="mb-4">
      <ion-col>
        <div class="mb-3">
          <label for="cActual" class="form-label">{{
            "MODAL_AJCUENTA.CONTRASENA_ACTUAL" | translate
          }}</label>
          <input type="password" class="form-control" id="cActual" />
        </div>
        <div class="mb-1">
          <label for="pNueva" class="form-label">{{
            "MODAL_AJCUENTA.CONTRASENA_NUEVA" | translate
          }}</label>
          <input type="password" class="form-control" id="pNueva" />
        </div>
        <div class="mb-1">
          <label for="pNuevaConf" class="form-label">{{
            "MODAL_AJCUENTA.CONTRASENA_CONF" | translate
          }}</label>
          <input type="password" class="form-control" id="pNuevaConf" />
        </div>
      </ion-col>
      <ion-col class="d-flex justify-content-center align-items-center">
        <div>
          <button type="button" class="btn btn_bg" mat-raised-button>
            {{ "MODAL_AJCUENTA.CONTRASENA_BOTON" | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <p class="d-flex justify-content-center mb-0">
      <strong>{{ "MODAL_AJCUENTA.PREFCOM_TITULO" | translate }}</strong>
    </p>
    <ion-row class="mb-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          {{ "MODAL_AJCUENTA.PREFCOM_COMERCIALES" | translate }}
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckChecked"
        />
        <label class="form-check-label" for="flexCheckChecked">
          {{ "MODAL_AJCUENTA.PREFCOM_TERCEROS" | translate }}
        </label>
      </div>
    </ion-row>
    <mat-divider></mat-divider>
    <p class="d-flex justify-content-center mb-0">
      <strong>{{ "MODAL_AJCUENTA.BORRARCUENTA_TITULO" | translate }}</strong>
    </p>
    <div>
      <p style="color: red; font-weight: bold; text-align: justify">
        {{ "MODAL_AJCUENTA.BORRARCUENTA_SUBTITULO" | translate }}
      </p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn_bg" mat-raised-button>
          {{ "MODAL_AJCUENTA.BORRARCUENTA_BOTON" | translate }}
        </button>
      </div>
    </div>
  </mat-dialog-content>
</div>
