<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>{{'MI_PERFIL.TITULO' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'MI_PERFIL.DESCRIPCION_SECCION' | translate}}
    </p>

    <div class="container">
      <ion-row>
        <!-- Información personal -->
        <ion-col size="6" class="mr-3">
          <h4 class="text-center">{{'MI_PERFIL.INFO_PERSONAL' | translate}}</h4>
          <ion-row>
            <ion-col>
              <div class="mb-3">
                <label for="nombre" class="form-label"
                  >{{'MI_PERFIL.NOMBRE' | translate}}</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombre"
                  aria-describedby="emailHelp"
                />
              </div>
            </ion-col>

            <ion-col>
              <div class="mb-3">
                <label for="apellidos" class="form-label"
                  >{{'MI_PERFIL.APELLIDOS' | translate}}</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="apellidos"
                  aria-describedby="emailHelp"
                />
              </div>
            </ion-col>

            <ion-col>
              <div class="mb-3">
                <label for="pronombre" class="form-label"
                  >{{'MI_PERFIL.PRONOMBRE' | translate}}</label
                >
                <select class="form-select" aria-label="Selección de pronombre">
                  <option selected>Selecciona una opcion</option>
                  <option value="1">Él / He / Him</option>
                  <option value="2">Ella / She / Her</option>
                  <option value="3">Elle / They / Them</option>
                  <option value="4">Otros</option>
                  <option value="5">No uso ninguno concreto</option>
                  <option value="6">Prefiero no responder</option>
                </select>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="mb-3">
                <label for="genero" class="form-label">
                  {{'MI_PERFIL.GENERO' | translate}}
                  <span
                    class="ms-2 text-primary"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Más detalles"
                  >
                    <i class="bi-question-circle"></i>
                  </span>
                </label>

                <select class="form-select" aria-label="Selección de género">
                  >
                  <option selected>
                    {{'SELEC_GENERO.SELECCIONA' | translate}}
                  </option>
                  <option value="1">
                    {{'SELEC_GENERO.HOMBRE_CIS' | translate}}
                  </option>
                  <option value="2">
                    {{'SELEC_GENERO.MUJER_CIS' | translate}}
                  </option>
                  <option value="3">
                    {{'SELEC_GENERO.TRANSEXUAL' | translate}}
                  </option>
                  <option value="4">
                    {{'SELEC_GENERO.NO_BINARIO' | translate}}
                  </option>
                  <option value="5">
                    {{'SELEC_GENERO.INTERGENERO' | translate}}
                  </option>
                  <option value="6">
                    {{'SELEC_GENERO.NO_FLUIDO' | translate}}
                  </option>
                  <option value="7">{{'SELEC_GENERO.OTRO' | translate}}</option>
                  <option value="8">
                    {{'SELEC_GENERO.NO_RESPONDE' | translate}}
                  </option>
                </select>
              </div>
            </ion-col>
            <ion-col>
              <div class="mb-3">
                <label for="orientacion" class="form-label"
                  >{{'MI_PERFIL.ORIENTACION' | translate}}
                  <span
                    class="ms-2 text-primary"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    title="Más detalles"
                  >
                    <i class="bi-question-circle"></i>
                  </span>
                </label>
                <select
                  class="form-select"
                  aria-label="Selección de orientación sexual"
                >
                  >
                  <option selected>
                    {{'ORIENTACION.SELECCIONA' | translate}}
                  </option>
                  <option value="1">{{'ORIENTACION.GAY' | translate}}</option>
                  <option value="2">
                    {{'ORIENTACION.LESBIANA' | translate}}
                  </option>
                  <option value="3">
                    {{'ORIENTACION.BISEXUAL' | translate}}
                  </option>
                  <option value="4">
                    {{'ORIENTACION.PANSEXUAL' | translate}}
                  </option>
                  <option value="5">
                    {{'ORIENTACION.ASEXUAL' | translate}}
                  </option>
                  <option value="6">
                    {{'ORIENTACION.DEMISEXUAL' | translate}}
                  </option>
                  <option value="7">{{'ORIENTACION.QUEER' | translate}}</option>
                  <option value="8">{{'ORIENTACION.OTRO' | translate}}</option>
                  <option value="9">
                    {{'ORIENTACION.NO_RESPONDE' | translate}}
                  </option>
                </select>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="mb-3">
                <label for="fnacimiento" class="form-label"
                  >{{'MI_PERFIL.FECHA_NACIMIENTO' | translate}}</label
                >
                <input type="date" class="form-control" id="fnacimiento" />
              </div>
            </ion-col>
            <ion-col>{{'MI_PERFIL.EDAD' | translate}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="mb-3">
                <label for="bio" class="form-label"
                  >{{'MI_PERFIL.SOBRE_TI' | translate}}</label
                >
                <textarea
                  class="form-control"
                  id="bio"
                  rows="5"
                  placeholder="{{'MI_PERFIL.CUENTANOS' | translate}}"
                ></textarea>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>

        <mat-divider vertical="" class="ms-4"></mat-divider>

        <!-- Mis vehículos y preferencias de viaje -->
        <ion-col class="col-separator">
          <h4 class="text-center">
            {{'MI_PERFIL.VEHÍCULOS_PREF' | translate}}
          </h4>

          <ion-row class="d-flex justify-content-center mb-0">
            <ion-row>
              <ion-col>
                <div class="mb-5">
                  <h4 class="text-center mb-0 mt-0">
                    {{'MI_PERFIL.MIS_VEHICULOS' | translate}}
                  </h4>
                  <ul>
                    <li>Ford Mondeo verde</li>
                    <li>Seat Ibiza Rojo</li>
                  </ul>
                  <button type="button" class="btn btn_bg" style="height: 33px">
                    {{'BOTON.ANADIR_VEHICULO' | translate}}
                  </button>
                </div>
                <div class="mb-0 mt-3">
                  <h4>{{'MI_PERFIL.PREF_VIAJE' | translate}}</h4>
                  <ion-row class="d-flex justify-content-center">
                    <div class="mb-4 mt-4">
                      <label for="preferencias" class="form-label"
                        >{{'MI_PERFIL.CUANDO_VIAJO_PREFIERO' |
                        translate}}</label
                      >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckDefault"
                        />
                        <label class="form-check-label" for="flexCheckDefault">
                          {{'MI_PERFIL.HABLAR' | translate}}
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckChecked"
                        />
                        <label class="form-check-label" for="flexCheckChecked">
                          {{'MI_PERFIL.ESCUCHAR_MUSICA' | translate}}
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckChecked"
                        />
                        <label class="form-check-label" for="flexCheckChecked">
                          {{'MI_PERFIL.DORMIR' | translate}}
                        </label>
                      </div>

                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckChecked"
                        />
                        <label class="form-check-label" for="flexCheckChecked">
                          {{'MI_PERFIL.SILENCIO' | translate}}
                        </label>
                      </div>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="d-flex justify-content-center ms-5 mt-5 mb-3">
        <div>
          <button type="button" class="btn btn_bg" mat-raised-button>
            {{'BOTON.GUARDAR' | translate}}
          </button>
        </div>
      </ion-row>
    </div>
  </div>
</ion-content>
