<div class="container modal-infovisible">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "MI_PERFIL.TITULO" | translate }}</h2>
    <button
      mat-icon-button
      (click)="openInfoVisible()"
      aria-label="Abrir ventana"
    >
      <mat-icon>open_in_new</mat-icon>
    </button>

    <button
      mat-icon-button
      (click)="closeDialog()"
      aria-label="Cerrar ventana de dialogo"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>{{ "MI_PERFIL.DESCRIPCION_SECCION" | translate }}</p>

    <mat-divider></mat-divider>
    <form>
      <ion-row class="d-flex justify-content-center">
        <h6>Datos personales</h6>
      </ion-row>
      <div class="mb-3">
        <label for="nombre" class="form-label">{{
          "MI_PERFIL.NOMBRE" | translate
        }}</label>
        <input type="text" class="form-control" id="nombre" />
      </div>

      <div class="mb-3">
        <label for="apellidos" class="form-label">{{
          "MI_PERFIL.APELLIDOS" | translate
        }}</label>
        <input type="text" class="form-control" id="apellidos" />
      </div>

      <!-- Pronombre -->
      <div class="mb-3">
        <label for="pronombre" class="form-label">{{
          "MI_PERFIL.PRONOMBRE" | translate
        }}</label>
        <select
          class="form-select"
          id="pronombre"
          aria-label="Selección de pronombre"
        >
          <option selected disabled>
            {{ "SELEC_PRONOMBRE.SELECCIONA" | translate }}
          </option>
          <option value="1">Él / He / Him</option>
          <option value="2">Ella / She / Her</option>
          <option value="3">Elle / They / Them</option>
          <option value="4">
            {{ "SELEC_PRONOMBRE.NINGUNO" | translate }}
          </option>
          <option value="5">
            {{ "SELEC_PRONOMBRE.OTROS" | translate }}
          </option>
          <option value="6">
            {{ "SELEC_PRONOMBRE.NO_RESPONDE" | translate }}
          </option>
        </select>
      </div>

      <!-- Género -->
      <div class="mb-3">
        <label for="genero" class="form-label">{{
          "MI_PERFIL.GENERO" | translate
        }}</label>
        <select
          class="form-select"
          id="genero"
          aria-label="Selección de pronombre"
        >
          <option selected disabled>
            {{ "SELEC_GENERO.SELECCIONA" | translate }}
          </option>
          <option value="1">{{ "SELEC_GENERO.HOMBRE_CIS" | translate }}</option>
          <option value="2">{{ "SELEC_GENERO.MUJER_CIS" | translate }}</option>
          <option value="3">{{ "SELEC_GENERO.TRANSEXUAL" | translate }}</option>
          <option value="4">{{ "SELEC_GENERO.NO_BINARIO" | translate }}</option>
          <option value="5">
            {{ "SELEC_GENERO.INTERGENERO" | translate }}
          </option>
          <option value="6">{{ "SELEC_GENERO.NO_FLUIDO" | translate }}</option>
          <option value="7">{{ "SELEC_GENERO.OTRO" | translate }}</option>
          <option value="8">
            {{ "SELEC_GENERO.NO_RESPONDE" | translate }}
          </option>
        </select>
      </div>

      <!-- Orientación -->
      <div class="mb-3">
        <label for="orientacion" class="form-label"
          >{{ "MI_PERFIL.ORIENTACION" | translate }}
          <span
            class="ms-2 text-primary"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Más detalles"
          >
            <i class="bi-question-circle"></i>
          </span>
        </label>
        <select
          class="form-select"
          aria-label="Selección de orientación"
          formControlName="orientacion"
        >
          >
          <option value="" disabled selected>
            >{{ "ORIENTACION.SELECCIONA" | translate }}
          </option>
          <option value="1">{{ "ORIENTACION.GAY" | translate }}</option>
          <option value="2">{{ "ORIENTACION.LESBIANA" | translate }}</option>
          <option value="3">{{ "ORIENTACION.BISEXUAL" | translate }}</option>
          <option value="4">{{ "ORIENTACION.PANSEXUAL" | translate }}</option>
          <option value="5">{{ "ORIENTACION.ASEXUAL" | translate }}</option>
          <option value="6">{{ "ORIENTACION.DEMISEXUAL" | translate }}</option>
          <option value="7">{{ "ORIENTACION.QUEER" | translate }}</option>
          <option value="7">{{ "ORIENTACION.OTRO" | translate }}</option>
          <option value="8">{{ "ORIENTACION.NO_RESPONDE" | translate }}</option>
        </select>
      </div>

      <!-- Fecha de nacimiento -->
      <div class="mb-3">
        <label for="fnacimiento" class="form-label">{{
          "MI_PERFIL.FECHA_NACIMIENTO" | translate
        }}</label>
        <input type="date" class="form-control" id="fnacimiento" />
      </div>

      <!-- Edad -->
      <div class="mb-3">
        <label for="edad" class="form-label"
          >{{ "MI_PERFIL.EDAD" | translate }}:
        </label>
      </div>

      <div class="mb-3">
        <label for="bio" class="form-label">{{
          "MI_PERFIL.SOBRE_TI" | translate
        }}</label>
        <textarea
          class="form-control"
          id="bio"
          rows="5"
          placeholder="{{ 'MI_PERFIL.CUENTANOS' | translate }}"
        ></textarea>
      </div>

      <!-- Mis vehículos -->
      <ion-row class="d-flex justify-content-center">
        <h6>{{ "MI_PERFIL.MIS_VEHICULOS" | translate }}</h6>
      </ion-row>
      <div class="mb-4">
        <ul>
          <li>Ford Focus Rojo</li>
          <li>Opel Astra Blanco</li>
        </ul>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <select
                class="form-select"
                [(ngModel)]="marcaSeleccionada"
                (change)="filtrarModelos()"
                [ngModelOptions]="{ standalone: true }"
                aria-label="Selección de marca"
              >
                <option value="" disabled selected>
                  {{ "VEHICULOS.MARCA" | translate }}
                </option>
                <option
                  *ngFor="let coche of listadoCoches"
                  [value]="coche.marca"
                >
                  {{ coche.marca }}
                </option>
              </select>
            </ion-col>
            <ion-col size="4">
              <select
                class="form-select"
                [(ngModel)]="modeloSeleccionado"
                [disabled]="!marcaSeleccionada"
                [ngModelOptions]="{ standalone: true }"
                aria-label="Selección de modelo"
              >
                <option value="" disabled selected>
                  {{ "VEHICULOS.MODELO" | translate }}
                </option>
                <option
                  *ngFor="let modelo of modelosFiltrados"
                  [value]="modelo"
                >
                  {{ modelo }}
                </option>
              </select>
            </ion-col>
            <ion-col size="4">
              <div *ngIf="validacionIdioma">
                <select
                  class="form-select"
                  aria-label="Selección de color"
                  [(ngModel)]="colorSeleccionado"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="!modeloSeleccionado"
                >
                  <option value="" disabled selected>
                    {{ "VEHICULOS.COLOR" | translate }}
                  </option>
                  <option *ngFor="let color of listadoColores" [value]="color">
                    {{ color }}
                  </option>
                </select>
              </div>

              <div *ngIf="!validacionIdioma">
                <select
                  class="form-select"
                  aria-label="Selección de color"
                  [(ngModel)]="colorSeleccionado"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="!modeloSeleccionado"
                >
                  <option value="" disabled selected>
                    {{ "VEHICULOS.COLOR" | translate }}
                  </option>
                  <option *ngFor="let color of listColours" [value]="color">
                    {{ color }}
                  </option>
                </select>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="container d-flex justify-content-center mt-2">
              <button type="button" class="btn btn_bg" mat-raised-button>
                {{ "BOTON.ANADIR_VEHICULO" | translate }}
              </button>
            </div>
          </ion-row>
        </ion-grid>
      </div>

      <div class="mb-4">
        <ion-row class="d-flex justify-content-center">
          <h6>{{ "MI_PERFIL.PREF_VIAJE" | translate }}</h6>
        </ion-row>
        <label for="preferencias" class="form-label">{{
          "MI_PERFIL.CUANDO_VIAJO_PREFIERO" | translate
        }}</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ "MI_PERFIL.HABLAR" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.ESCUCHAR_MUSICA" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.DORMIR" | translate }}
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.SILENCIO" | translate }}
          </label>
        </div>
      </div>

      <div class="btn d-flex justify-content-center">
        <button type="submit" class="btn btn_bg" mat-raised-button>
          {{ "BOTON.GUARDAR" | translate }}
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
