.navbar-diseno {
  background-color: #F0D7B4;
}

.logo {
  width: 75px;
  border-radius: 50%;
}

.brand-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.caja-icono {
  height: 50px !important;
  width: 50px !important;
}

.tamano-icono {
  font-size: 50px !important;
  color: black;
}

.flag-icon {
  width: 20%;
  border-radius: 8px;
  margin-right: 8%;
}

.navbar {
  position: relative;
  z-index: 10;

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    transform: translateY(0);
    z-index: 1050;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.navbar .dropdown-menu li a:hover {
  padding: auto; 
  border: none; 
  background-color: #F0D7B4;
  border-radius: 15px;
}

.navbar .dropdown-menu .logout a:hover {
  border: none; 
  background-color: #FF5733;
  color: white; 
}