<div class="container">
  <div class="container" id="resumen_viaje">
    <ion-accordion-group>
      <ion-accordion value="first" class="contenido">
        <ion-item slot="header" class="white-header">
          <mat-icon class="me-1">location_on</mat-icon>
          <ion-label>RESUMEN DEL VIAJE</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <div class="container d-flex justify-content-center dialog-animate">
            <div class="row w-100">
              <!-- Columna izquierda -->
              <div class="col-md-6 col-12">
                <ul>
                  <li>
                    <mat-icon>location_on</mat-icon>
                    <strong>Origen:  </strong>
                    <span *ngIf="!editandoViaje">{{ currentViajeData?.origen }}</span>
                    <input *ngIf="editandoViaje" type="text" class="input-viaje form-control" [(ngModel)]="origen"
                      name="origen" [ngModelOptions]="{ standalone: true }"
                      (input)="obtenerSugerenciasOrigen($event)" />

                    <ul *ngIf="sugerenciasOrigen.length > 2" class="list-group lista_sugerencias">
                      <li *ngFor="let localidad of sugerenciasOrigen; let i = index"
                        [ngClass]="{'list-group-item': true}" (click)="seleccionarLocalidadOrigen(localidad)">
                        {{ localidad.descripcion.split(',')[0].trim() }} - {{ localidad.provincia }}
                      </li>
                    </ul>
                  </li>
                  <li >
                    <mat-icon>flag</mat-icon>
                    <strong>Destino:  </strong>
                    <span *ngIf="!editandoViaje">{{ currentViajeData?.destino }}</span>
                    <input *ngIf="editandoViaje" type="text" class="input-viaje form-control" [(ngModel)]="destino"
                      name="origen" [ngModelOptions]="{ standalone: true }"
                      (input)="obtenerSugerenciasDestino($event)" />

                    <ul *ngIf="sugerenciasDestino.length > 2" class="list-group lista_sugerencias">
                      <li *ngFor="let localidad of sugerenciasDestino; let i = index"
                        [ngClass]="{'list-group-item': true}" (click)="seleccionarLocalidadDestino(localidad)">
                        {{ localidad.descripcion.split(',')[0].trim() }} - {{ localidad.provincia }}
                      </li>
                    </ul>
                  </li>
                  <li>
                    <mat-icon>directions_car</mat-icon>
                    <strong>Coche Seleccionado:  </strong>
                    <span *ngIf="!editandoViaje">{{ currentViajeData?.coche }}</span>
                    <input *ngIf="editandoViaje" [(ngModel)]="currentViajeData.coche" class="form-control" />
                  </li>
                </ul>
              </div>
              <!-- Columna derecha -->
              <div class="col-md-6 col-12">
                <ul>
                  <li>
                    <mat-icon>group</mat-icon>
                    <strong>Plazas Disponibles:  </strong>
                    <span *ngIf="!editandoViaje">{{ currentViajeData?.plazas }}</span>
                    <input *ngIf="editandoViaje" type="number" [(ngModel)]="currentViajeData.plazas"
                      class="form-control" />
                  </li>
                  <li>
                    <mat-icon>event</mat-icon>
                    <strong>Fecha de Salida:  </strong>
                    <span *ngIf="!editandoViaje">{{ getFormattedDate() }}</span>
                    <input *ngIf="editandoViaje" type="date" [(ngModel)]="currentViajeData.fecha_salida"
                      class="form-control" />
                  </li>
                  <li>
                    <mat-icon>schedule</mat-icon>
                    <strong>Hora de Salida:  </strong>
                    <span *ngIf="!editandoViaje">{{ currentViajeData?.hora_salida }}</span>
                    <input *ngIf="editandoViaje" type="time" [(ngModel)]="currentViajeData.hora_salida"
                      class="form-control" />
                  </li>
                </ul>
              </div>
              <div class="container d-flex justify-content-center">
                <button *ngIf="!editandoViaje" type="button" mat-raised-button class="btn_bg"
                  (click)="toggleEditarViaje()">
                  <mat-icon>border_color</mat-icon> Modificar viaje
                </button>
                <button *ngIf="editandoViaje" type="button" mat-raised-button class="btn_bg me-2"
                  (click)="guardarCambios()">
                  Guardar
                </button>
                <button *ngIf="editandoViaje" type="button" mat-raised-button class="btn_bg_cancel"
                  (click)="cancelarEdicion()">
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</div>