<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>{{'MODAL_AJCUENTA.TITULO' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'MODAL_AJCUENTA.SUBTITULO' | translate}}
    </p>
    <ion-row>
      <ion-col class="mb-3 col-separator">
        <h1 class="d-flex justify-content-center">
          {{'MODAL_AJCUENTA.CCONTRASENA_TITULO' | translate}}
        </h1>
        <div class="mb-3">
          <label for="cActual" class="form-label">{{'MODAL_AJCUENTA.CONTRASENA_ACTUAL' | translate}}</label>
          <input type="password" class="form-control input-contras" id="cActual" />
        </div>
        <div class="mb-1">
          <label for="pNueva" class="form-label">{{'MODAL_AJCUENTA.CONTRASENA_NUEVA' | translate}}</label>
          <input type="password" class="form-control input-contras" id="pNueva" />
        </div>
        <div class="mb-1">
          <label for="pNuevaConf" class="form-label">{{'MODAL_AJCUENTA.CONTRASENA_CONF' | translate}}</label>
          <input type="password" class="form-control input-contras" id="pNuevaConf" />
        </div>
        <ion-col class="d-flex justify-content-center align-items-center">
          <div>
            <button type="button" class="btn btn_bg">
              {{'MODAL_AJCUENTA.CONTRASENA_BOTON' | translate}}
            </button>
          </div>
        </ion-col>
      </ion-col>

      <ion-col class="col-separator">
        <h1 class="d-flex justify-content-center mb-4">
          {{'MODAL_AJCUENTA.PREFCOM_TITULO' | translate}}
        </h1>
        <ion-row class="mb-4">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              {{'MODAL_AJCUENTA.PREFCOM_COMERCIALES' | translate}}
            </label>
          </div>
        </ion-row>
        <ion-row>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked">
              {{'MODAL_AJCUENTA.PREFCOM_TERCEROS' | translate}}
            </label>
          </div>
          <div class="mt-3">
            <a class="nav-link active dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" aria-current="page">
              {{'MODAL_AJCUENTA.CAMBIO_IDIOMA' | translate}} <mat-icon class="ms-2">language</mat-icon>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a type="button" class="dropdown-item" (click)="changeLanguage('es')"><img
                    src="../../../assets/flags/espana.png" class="flag-icon" />
                  Español</a>
              </li>
              <li>
                <a type="button" class="dropdown-item" (click)="changeLanguage('en')"><img
                    src="../../../assets/flags/reino-unido.png" class="flag-icon" />
                  Inglés</a>
              </li>
            </ul>
          </div>
        </ion-row>
      </ion-col>
      <ion-col>
        <h1 class="d-flex justify-content-center">
          {{'MODAL_AJCUENTA.BORRARCUENTA_TITULO' | translate}}
        </h1>
        <p class="mt-3">
          {{'MODAL_AJCUENTA.BORRARCUENTA_SUBTITULO' | translate}}
        </p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn_bg">
            {{'MODAL_AJCUENTA.BORRARCUENTA_BOTON' | translate}}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>