<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>{{'DATOS_CONTACTO.TITULO' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'DATOS_CONTACTO.DESCRIPCION_SECCION' | translate}}
    </p>
    <p>{{'DATOS_CONTACTO.DESCRIPCION_SECCION_2' | translate}}</p>

    <div class="container">
      <ion-row>
        <ion-col>
          <ion-row>
            <h6>{{'DATOS_CONTACTO.MODIF_CORREO_TFNO' | translate}}</h6>
          </ion-row>
          <ion-row>
            <div class="mb-3">
              <div>
                <div>
                  <label for="email" class="form-label"
                    >{{'DATOS_CONTACTO.MI_CORREO' | translate}}</label
                  >
                </div>
              </div>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
          </ion-row>
          <ion-row>
            <div class="mb-3">
              <div>
                <label for="telefono" class="form-label"
                  >{{'DATOS_CONTACTO.MI_TFNO' | translate}}</label
                >
              </div>
              <input
                type="text"
                class="form-control"
                id="telefono"
                aria-describedby="emailHelp"
              />
            </div>
          </ion-row>
        </ion-col>

        <mat-divider vertical=""></mat-divider>
        <ion-col class="ms-5">
          <ion-row>
            <h6>{{'DATOS_CONTACTO.COM_COMERCIALES' | translate}}</h6>
          </ion-row>
          <ion-row class="mb-4">
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckDefault"
              />
              <label class="form-check-label" for="flexCheckDefault">
                {{ "DATOS_CONTACTO.CHECK_POR_EMAIL" | translate }}
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="flexCheckChecked"
              />
              <label class="form-check-label" for="flexCheckChecked">
                {{ "DATOS_CONTACTO.CHECK_TERCEROS" | translate }}
              </label>
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
      <div class="d-flex justify-content-center me-5 mt-5">
        <button type="button" class="btn btn_bg">
          {{ "BOTON.GUARDAR" | translate }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
