<div id="tercer_paso">

  <div class="container">
    <h1>SELECCIONA UNA RUTA</h1>
  </div>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="tercer_paso_container d-flex align-items-center gap-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="peajes" checked
                (change)="onPeajeOptionChange($event)" />
              <label class="form-check-label" for="peajes">
                Con peajes
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="sinPeajes"
                (change)="onPeajeOptionChange($event)" />
              <label class="form-check-label" for="sinPeajes">
                Sin peajes
              </label>
            </div>
            <div class="form-check" *ngIf="rutaConParadasSeleccionada">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="rutaConParadas"
                [checked]="rutaConParadasSeleccionada" (change)="actualizarRuta()" />
              <label class="form-check-label" for="rutaConParadas">
                Ruta seleccionada
              </label>
            </div>
            <div class="form-check" *ngIf="rutaConParadasSeleccionada">
              <button type="button" class="trashBtn" (click)="eliminarRutaSeleccionada()"><mat-icon class="trahsIcon">delete</mat-icon></button>
            </div>
          </div>
          <div *ngIf="routes.length > 0">
            <!-- Lista de sugerencias de paradas -->
            <div class="spinner_box" *ngIf="cargandoSugerencias">
              <mat-spinner></mat-spinner>
              <p style="color: #B3B5E6" class="mt-2"> Cargando posibles paradas... </p>
            </div>
             <div class="container" *ngIf="sugerenciasParadas.length > 0">
              <span>Sugerencias de paradas</span>
              <ul class="list-group sugerencia_paradas">
                <li 
                  *ngFor="let parada of sugerenciasParadas" 
                  class="list-group-item d-flex justify-content-between align-items-center"
                  (click)="seleccionarParada(parada)">
                  {{ parada.nombre }} - {{ parada.distancia }}
                  <span *ngIf="paradasSeleccionadas.has(parada.nombre)"><mat-icon class="checkRutaSeleccionada">check</mat-icon></span>
                </li>
              </ul>
              
             </div>

            <div class="route-list-container">
              <div *ngFor="let route of routes; let i = index" (click)="selectRoute(i)" class="route-option"
                [class.selected]="selectedRoute?.routes?.[0] === route">
                <div class="d-flex justify-content-between align-items-center">
                  <h3>
                    {{ origen }} <mat-icon>arrow_right_alt</mat-icon> {{
                    destino }}
                  </h3>
                  <label class="toll-label" *ngIf="marcaPeajes">Incluye peajes</label>
                  <label class="toll-label" *ngIf="!marcaPeajes">Sin peajes</label>
                </div>
                <p>Distancia: {{ route.legs[0].distance?.text }}</p>
                <p>Duración: {{ route.legs[0].duration?.text }}</p>
              </div>
            </div>
          </div>
          <div *ngIf="routes.length === 0">
            <!-- Spinner "Cargando rutas" -->
            <div *ngIf="isLoadingRoutes" class="tercer_paso_container">
              <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="small" color="#B3B5E6" type="square-jelly-box"
                [fullScreen]="false">
                <div class="spinner_box">
                  <mat-spinner></mat-spinner>
                  <p style="color: #B3B5E6" class="mt-2"> Cargando rutas... </p>
                </div>
              </ngx-spinner>
            </div>

            <!-- Spinner "Actualizando ruta" -->
            <div *ngIf="isUpdatingRoute" class="tercer_paso_container">
              <ngx-spinner bdColor="rgba(0,0,0,0.8)" size="small" color="#B3B5E6" type="square-jelly-box"
                [fullScreen]="false">
                <div class="spinner_box">
                  <mat-spinner></mat-spinner>
                  <p style="color: #B3B5E6" class="mt-2"> Actualizando ruta... </p>
                </div>
              </ngx-spinner>
            </div>
            <div *ngIf="!isLoadingRoutes && routes.length === 0">
              <p>
                No se encontraron rutas. Intenta con otros puntos de origen o
                destino.
              </p>
            </div>
          </div>
        </ion-col>

        <!-- MAPA -->
        <ion-col>
          <div class="contenedor_mapa">
            <google-map [center]="mapCenter" [zoom]="zoom" [options]="mapOptions" height="500px" width="100%">
              <map-directions-renderer *ngIf="selectedRoute" [directions]="selectedRoute"></map-directions-renderer>
            </google-map>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>