.caja_perfil {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
  position: relative;
//   background-color: #F0D7B4;
}

.espacio_cabecera {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.img-cabecera {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen-perfil {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #f0d7b4;
  border-radius: 50%;
  padding: 2px;
  background-color: #f0d7b4;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.perfil-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.informacion-usuario {
  text-align: start;
  margin-top: 40px;
}

.info-item {
  display: block;
  margin-bottom: 10px;
}

.botonEditarImgPerfil,
.botonEditarImgCabecera {
    position: absolute;
    border-radius: 50%;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    background-color: #F0D7B4;
}

.botonEditarImgPerfil {
    bottom: 250px;
    left: 52%;
}

.botonEditarImgCabecera {
    bottom: 279px;
    left: 98%; 
    transform: translateX(-100%);
}

.botonEditarImgPerfil mat-icon,
.botonEditarImgCabecera mat-icon {
    font-size: 20px; 
}
button{
    background-color: #F0D7B4;
}
