<app-navbar [backRoute]="'/busqueda-viajes'" [searchRoute]="'newTravel'" [isLoggedIn]="userLoggedIn"></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container mt-4">
    <div class="caja_perfil">

      <div class="espacio_cabecera">
        <img class="img-cabecera" src="../../../assets/imgs/bridge1.jpg" alt="Cabecera">
      </div>

      <div class="imagen-perfil">
        <img class="perfil-img" src="../../../assets/User-Profile-PNG-Image.png" alt="Perfil">
      </div>

      <div class="botonEditarImgPerfil">
        <button type="button" *ngIf="editar_perfil">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
          </svg>
        </button>
      </div>
      <div class="botonEditarImgCabecera">
        <button type="button" *ngIf="editar_perfil">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="undefined">
            <path
              d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z" />
          </svg>
        </button>
      </div>
      <div class="informacion-usuario">
        <div class="row">
          <div class="col">
            <div class="container text-end">
              <span class="info-item"><strong>Nombre: </strong>{{usuario?.nombre}}</span>
              <span class="info-item"><strong>Apellidos: </strong>{{usuario?.apellidos}}</span>
            </div>

          </div>
          <div class="col">
            <div class="container">
              <span class="info-item"><strong>Preferencias de viaje: </strong>{{usuario?.preferencias}}</span>
              <span class="info-item"><strong>Usuario verificado: </strong>✅</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="container p-5">
            <label><strong>Biografía: </strong></label>
            <p *ngIf="usuario?.biografia">{{usuario?.biografia}}</p>
            <p *ngIf="!usuario?.biografia">Este usuario aún no tiene biografía.</p>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</ion-content>