<app-pagesnavbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-pagesnavbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>{{'MI_PERFIL.TITLE' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      {{'MI_PERFIL.SUBTITLE' | translate}}
    </p>
    <ion-row class="mb-3 fila-datos">
      <ion-col
        size="12"
        size-md="4"
        class="d-flex justify-content-center contenido-fila"
      >
        <form>
          <div class="mb-3">
            <label for="pronombre" class="form-label"
              >{{'MI_PERFIL.PRONOMBRE' | translate}}</label
            >
            <select class="form-select" aria-label="Selección de pronombre">
              <option selected>Selecciona una opcion</option>
              <option value="1">Él / He / Him</option>
              <option value="2">Ella / She / Her</option>
              <option value="3">Elle / They / Them</option>
              <option value="4">Otros</option>
              <option value="5">No uso ninguno concreto</option>
              <option value="6">Prefiero no responder</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="genero" class="form-label">
              {{'MI_PERFIL.SELECTOR_GENERO.TITLE' | translate}}
              <span
                class="ms-2 text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Más detalles"
              >
                <i class="bi-question-circle"></i>
              </span>
            </label>

            <select class="form-select" aria-label="Selección de género">
              >
              <option selected>
                {{'MI_PERFIL.SELECTOR_GENERO.SELECTOR_OPCION' | translate}}
              </option>
              <option value="1">
                {{'MI_PERFIL.SELECTOR_GENERO.HOMBRE_CIS' | translate}}
              </option>
              <option value="2">
                {{'MI_PERFIL.SELECTOR_GENERO.MUJER_CIS' | translate}}
              </option>
              <option value="3">
                {{'MI_PERFIL.SELECTOR_GENERO.TRANSGENERO' | translate}}
              </option>
              <option value="4">
                {{"MI_PERFIL.SELECTOR_GENERO.NO_BINARIO" | translate}}
              </option>
              <option value="5">
                {{'MI_PERFIL.SELECTOR_GENERO.INTERGENERO' | translate}}
              </option>
              <option value="6">
                {{'MI_PERFIL.SELECTOR_GENERO.NO_FLUIDO' | translate}}
              </option>
              <option value="7">
                {{'MI_PERFIL.SELECTOR_GENERO.OTRO' | translate}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="orientacion" class="form-label"
              >{{'MI_PERFIL.SELECTOR_ORIENTACION.TITLE' | translate}}
              <span
                class="ms-2 text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Más detalles"
              >
                <i class="bi-question-circle"></i>
              </span>
            </label>
            <select class="form-select" aria-label="Selección de orientación">
              >
              <option selected>
                {{'MI_PERFIL.SELECTOR_ORIENTACION.SELECTOR_OPCION' | translate}}
              </option>
              <option value="1">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.GAY' | translate}}
              </option>
              <option value="2">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.LESBIANA' | translate}}
              </option>
              <option value="3">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.BISEXUAL' | translate}}
              </option>
              <option value="4">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.PANSEXUAL' | translate}}
              </option>
              <option value="5">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.ASEXUAL' | translate}}
              </option>
              <option value="6">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.DEMISEXUAL' | translate}}
              </option>
              <option value="7">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.QUEER' | translate}}
              </option>
              <option value="8">
                {{'MI_PERFIL.SELECTOR_ORIENTACION.OTRO' | translate}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="bio" class="form-label"
              >{{"MI_PERFIL.SOBRE_TI" | translate}}</label
            >
            <textarea
              class="form-control"
              id="bio"
              rows="5"
              placeholder="{{'MI_PERFIL.PLACE_SOBRETI' | translate}}"
            ></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn_bg">
              {{'GUARDAR' | translate}}
            </button>
          </div>
        </form>
      </ion-col>
      <ion-col size="12" size-md="4" style="padding-right: 5%">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label"
              >{{'DATOS_USUARIO.NOMBRE' | translate}}</label
            >
            <input
              type="text"
              class="form-control"
              id="nombre"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="apellidos" class="form-label"
              >{{'DATOS_USUARIO.APELLIDOS' | translate}}</label
            >
            <input
              type="text"
              class="form-control"
              id="apellidos"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="fnacimiento" class="form-label"
              >{{'DATOS_USUARIO.FECHA_NACIMIENTO' | translate}}</label
            >
            <input type="date" class="form-control" id="fnacimiento" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label"
              >{{'DATOS_USUARIO.EMAIL' | translate}}</label
            >
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="telefono" class="form-label"
              >{{'DATOS_USUARIO.TELEFONO' | translate}}</label
            >
            <input
              type="text"
              class="form-control"
              id="telefono"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="d-flex justify-content-center" style="margin-top: 28px">
            <button type="submit" class="btn btn_bg">
              {{'GUARDAR' | translate}}
            </button>
          </div>
        </form>
      </ion-col>

      <ion-col size="12" size-md="4" class="d-flex justify-content-center">
        <form>
          <ion-grid>
            <ion-row class="d-flex justify-content-center mb-3">
              <h4>{{'MI_PERFIL.PREF_VIAJE.TITLE' | translate}}</h4>
            </ion-row>

            <ion-row class="mb-3 d-flex justify-content-center">
              <label for="telefono" class="form-label"
                >{{'MI_PERFIL.PREF_VIAJE.MIS_VEHICULOS' | translate}}</label
              >
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <ul>
                <li class="d-flex align-items-center">
                  <mat-icon>directions_car</mat-icon>
                  Nombre vehículo
                </li>
              </ul>
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <button type="button" class="btn btn_bg" style="height: 33px">
                {{'MI_PERFIL.PREF_VIAJE.ANADIR_VEHICULO' | translate}}
              </button>
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <div class="mb-4 mt-4">
                <label for="preferencias" class="form-label"
                  >{{'MI_PERFIL.PREF_VIAJE.CUANDO_VIAJO' | translate}}</label
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    {{'MI_PERFIL.PREF_VIAJE.HABLAR' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    {{'MI_PERFIL.PREF_VIAJE.MUSICA' | translate}}
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    {{'MI_PERFIL.PREF_VIAJE.DORMIR' | translate}}
                  </label>
                </div>

                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    {{'MI_PERFIL.PREF_VIAJE.SILENCIO' | translate}}
                  </label>
                </div>
              </div>
            </ion-row>
          </ion-grid>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn_bg" style="margin-top: 51px">
              {{'GUARDAR' | translate}}
            </button>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-center">
      <ion-col>
        <ion-row class="d-flex justify-content-center">
          <h1>{{'MI_PERFIL.VERIFICAR.TITLE' | translate}}</h1>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <p class="d-flex justify-content-center">
            {{'MI_PERFIL.VERIFICAR.SUBTITLE' | translate}}
          </p>
        </ion-row>
      </ion-col>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-check d-flex justify-content-center checkverficado">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label
          class="form-check-label d-flex justify-content-center ms-1 label-uverif"
          for="defaultCheck1"
        >
          {{'MI_PERFIL.VERIFICAR.USUARIO_VERIFICADO' | translate}}
        </label>
      </div>
    </div>

    <ion-row class="mt-3 fila-datos">
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>{{'MI_PERFIL.VERIFICAR.CORREO_TITLE' | translate}}</h5></ion-row
        >
        <ion-row>
          <p>{{'MI_PERFIL.VERIFICAR.CORREO_SUBTITLE' | translate}}</p></ion-row
        >
        <ion-row class="d-flex justify-content-center">
          <div class="d-flex justify-content-center align-items-center">
            <button type="btn" class="btn btn_bg">micorreo</button>
          </div></ion-row
        >
      </ion-col>
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>
            {{'MI_PERFIL.VERIFICAR.TELEFONO_TITLE' | translate}}
          </h5></ion-row
        >
        <ion-row class="d-flex justify-content-center align-items-center"
          ><div>
            <button class="btn_bg btn" type="btn">66666666666</button>
          </div></ion-row
        >
        <ion-row
          class="d-flex justify-content-center align-items-center mt-3 mb-3"
          ><p>
            {{'MI_PERFIL.VERIFICAR.TELEFONO.SUBTITLE' | translate}}
          </p></ion-row
        >
        <ion-row class="input-container d-flex justify-content-center">
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <button
            type="button"
            class="btn mt-2 btn_bg"
            style="
              background-color: #a758e8;
              width: 200px;
              height: 30px;
              font-size: 12px;
            "
          >
            {{'MI_PERFIL.VERIFICAR.TELEFONO_BOTON' | translate}}
          </button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>{{'MI_PERFIL.VERIFICAR.DOC_TITLE' | translate}}</h5></ion-row
        >
        <ion-row class="d-flex justify-content-center">
          <ul>
            <li>{{'MI_PERFIL.VERIFICAR.DOC_FRONTAL' | translate}}</li>
            <div
              class="card"
              style="width: 10rem; height: 3rem; background-color: red"
            >
              <div class="d-flex align-items-center">
                <p>XXXX-XXXX-XXXX-5201</p>
              </div>
            </div>

            <li>{{'MI_PERFIL.VERIFICAR.DOC_TRASERO' | translate}}</li>
            <div
              class="card"
              style="width: 10rem; height: 3rem; background-color: red"
            >
              <div class="d-flex align-items-center">
                <p>XXXX-XXXX-XXXX-5201</p>
              </div>
            </div>
          </ul>
        </ion-row>
        <ion-row class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center">
            <div class="file-upload">
              <label for="identidad" class="upload-button">+</label>
              <input
                type="file"
                id="identidad"
                class="file-input"
                accept="image/*"
                multiple
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-center">
      <ion-col>
        <ion-row class="d-flex justify-content-center">
          <h1>{{'MI_PERFIL.VERIF_ADICIONAL.TITLE' | translate}}</h1>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <p class="d-flex justify-content-center" style="color: red">
            {{'MI_PERFIL.VERIF_ADICIONAL.SUBTITLE' | translate}}
          </p>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <div class="me-4">
            {{'MI_PERFIL.VERIF_ADICIONAL.FRONTAL' | translate}}
            <div class="d-flex justify-content-center">
              <div
                class="card"
                style="width: 10rem; height: 3rem; background-color: red"
              >
                <div class="d-flex align-items-center">
                  <p>XXXX-XXXX-XXXX-5201</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            {{'MI_PERFIL.VERIF_ADICIONAL.TRASERO' | translate}}
            <div class="d-flex justify-content-center">
              <div
                class="card"
                style="width: 10rem; height: 3rem; background-color: red"
              >
                <div class="d-flex align-items-center">
                  <p>XXXX-XXXX-XXXX-5201</p>
                </div>
              </div>
            </div>
          </div>
        </ion-row>
        <ion-row class="d-flex justify-content-center mt-4">
          <div>
            <div class="file-upload">
              <label for="identidad" class="upload-button">+</label>
              <input
                type="file"
                id="identidad"
                class="file-input"
                accept="image/*"
                multiple
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
        </ion-row>
      </ion-col>
    </div>
  </div>
</ion-content>
