<ion-header>
  <nav class="navbar bg-body-tertiary diseno">
    <div class="container-fluid">
      <ul>
        <li class="nav-item d-flex flex-column align-items-center">
          <a class="" href="#">
            <img src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
          </a>
          <h1 class="m-0 text-center">PrideRide</h1>
        </li>
      </ul>

      <form class="d-flex align-items-center buscar-viaje">
        <a
          class="nav-link active d-flex align-items-center"
          aria-current="page"
          href="/busqueda-viajes"
        >
          Buscar viaje <mat-icon>search</mat-icon>
        </a>

        <a
          class="nav-link active d-flex align-items-center"
          aria-current="page"
          href="/busqueda-viajes"
        >
          Publicar viaje
        </a>

        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <mat-icon class="caja-icono tamano-icono">person_off</mat-icon>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/login">Mi perfil</a></li>
          <li>
            <a class="dropdown-item" href="/registro">Saldo y transferencias</a>
          </li>
          <li>
            <a class="dropdown-item" href="/registro">Ajustes de la cuenta</a>
          </li>
          <li><a class="dropdown-item" href="/registro">Salir</a></li>
        </ul>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>{{'MI_PERFIL.TITLE' | translate}}</h1>
    </div>
    <p class="d-flex justify-content-center">
      En esta sección podrás modificar los datos personales que se muestan a los
      demás, así como tus preferencias de viaje. También contarás con la opción
      de verificar tus datos
    </p>
    <ion-row class="mb-3 fila-datos">
      <ion-col
        size="12"
        size-md="4"
        class="d-flex justify-content-center contenido-fila"
      >
        <form>
          <div class="mb-3">
            <label for="pronombre" class="form-label">Pronombre</label>
            <select class="form-select" aria-label="Selección de pronombre">
              <option selected>Selecciona una opcion</option>
              <option value="1">Él / He / Him</option>
              <option value="2">Ella / She / Her</option>
              <option value="3">Elle / They / Them</option>
              <option value="4">Otros</option>
              <option value="5">No uso ninguno concreto</option>
              <option value="6">Prefiero no responder</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="genero" class="form-label">
              ¿Con qué genero te identificas?
              <span
                class="ms-2 text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Más detalles"
              >
                <i class="bi-question-circle"></i>
              </span>
            </label>

            <select class="form-select" aria-label="Selección de género">
              >
              <option selected>Selecciona una opción</option>
              <option value="1">Hombre Cis</option>
              <option value="2">Mujer Cis</option>
              <option value="3">Tránsgenero</option>
              <option value="4">No binario</option>
              <option value="5">Intergénero</option>
              <option value="6">No fluido</option>
              <option value="7">Otro</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="orientacion" class="form-label"
              >¿Cuál es tu orientación sexual?
              <span
                class="ms-2 text-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Más detalles"
              >
                <i class="bi-question-circle"></i>
              </span>
            </label>
            <select class="form-select" aria-label="Selección de orientación">
              >
              <option selected>Selecciona una opción</option>
              <option value="1">Gay</option>
              <option value="2">Lesbiana</option>
              <option value="3">Bisexual</option>
              <option value="4">Pansexual</option>
              <option value="5">Asexual</option>
              <option value="6">Demisexual</option>
              <option value="7">Queer</option>
              <option value="8">Otro</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="bio" class="form-label">Sobre ti</label>
            <textarea
              class="form-control"
              id="bio"
              rows="5"
              placeholder="Siéntete libre de contar a los demás lo que quieras que sepan sobre ti"
            ></textarea>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn_bg">Guardar</button>
          </div>
        </form>
      </ion-col>
      <ion-col size="12" size-md="4" style="padding-right: 5%">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="apellidos" class="form-label">Apellidos</label>
            <input
              type="text"
              class="form-control"
              id="apellidos"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="fnacimiento" class="form-label"
              >Fecha de nacimiento</label
            >
            <input type="date" class="form-control" id="fnacimiento" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              type="text"
              class="form-control"
              id="telefono"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="d-flex justify-content-center" style="margin-top: 28px">
            <button type="submit" class="btn btn_bg">Guardar</button>
          </div>
        </form>
      </ion-col>

      <ion-col size="12" size-md="4" class="d-flex justify-content-center">
        <form>
          <ion-grid>
            <ion-row class="d-flex justify-content-center mb-3">
              <h4>Vehículos y preferencias de viaje</h4>
            </ion-row>

            <ion-row class="mb-3 d-flex justify-content-center">
              <label for="telefono" class="form-label">Mis vehículos</label>
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <ul>
                <li class="d-flex align-items-center">
                  <mat-icon>directions_car</mat-icon>
                  Nombre vehículo
                </li>
              </ul>
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <button type="button" class="btn btn_bg" style="height: 33px">
                Añadir vehículo
              </button>
            </ion-row>
            <ion-row class="d-flex justify-content-center">
              <div class="mb-4 mt-4">
                <label for="preferencias" class="form-label"
                  >Cuando viajo prefiero...</label
                >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Hablar
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Escuchar música
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Dormir
                  </label>
                </div>

                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ir en silencio
                  </label>
                </div>
              </div>
            </ion-row>
          </ion-grid>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn_bg" style="margin-top: 51px">
              Guardar
            </button>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-center">
      <ion-col>
        <ion-row class="d-flex justify-content-center">
          <h1>Verifica tus datos de contacto y documentos</h1>
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <p class="d-flex justify-content-center">
            Un usuario verificado aporta mayor fiabilidad al resto de usuarios.
            Recuerda que para ser usuario verificado tienes que confirmar tu
            correo electrónico, teléfono y documento. Además, si en algún
            momento quieres publicar un viaje deberás subir una foto de tu
            carnet de conducir
          </p>
        </ion-row>
      </ion-col>
    </div>
    <div class="d-flex justify-content-center">
      <div class="form-check d-flex justify-content-center checkverficado">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label
          class="form-check-label d-flex justify-content-center ms-1 label-uverif"
          for="defaultCheck1"
        >
          Usuario verificado
        </label>
      </div>
    </div>

    <ion-row class="mt-3 fila-datos">
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>Confirma tu correo electrónico</h5></ion-row
        >
        <ion-row>
          <p>
            Se enviará un correo a tu dirección, solo tienes que confirmar en el
            enlace que aparecerá
          </p></ion-row
        >
        <ion-row class="d-flex justify-content-center">
          <div class="d-flex justify-content-center align-items-center">
            <button type="btn" class="btn btn_bg">micorreo</button>
          </div></ion-row
        >
      </ion-col>
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>Confirma tu teléfono</h5></ion-row
        >
        <ion-row class="d-flex justify-content-center align-items-center"
          ><div>
            <button class="btn_bg btn" type="btn">66666666666</button>
          </div></ion-row
        >
        <ion-row
          class="d-flex justify-content-center align-items-center mt-3 mb-3"
          ><p>Introduce aquí los 4 dígitos que has recibido:</p></ion-row
        >
        <ion-row class="input-container d-flex justify-content-center">
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
        </ion-row>
        <ion-row class="d-flex justify-content-center">
          <button
            type="button"
            class="btn mt-2 btn_bg"
            style="
              background-color: #a758e8;
              width: 200px;
              height: 30px;
              font-size: 12px;
            "
          >
            Confirmar código
          </button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="d-flex justify-content-center"
          ><h5>Confirma tu documento</h5></ion-row
        >
        <ion-row class="d-flex justify-content-center">
          <ul>
            <li>Documento frontal</li>
            <div
              class="card"
              style="width: 10rem; height: 3rem; background-color: red"
            >
              <div class="d-flex align-items-center">
                <p>XXXX-XXXX-XXXX-5201</p>
              </div>
            </div>

            <li>Documento trasero</li>
            <div
              class="card"
              style="width: 10rem; height: 3rem; background-color: red"
            >
              <div class="d-flex align-items-center">
                <p>XXXX-XXXX-XXXX-5201</p>
              </div>
            </div>
          </ul>
        </ion-row>
        <ion-row class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center">
            <div class="file-upload">
              <label for="identidad" class="upload-button">+</label>
              <input
                type="file"
                id="identidad"
                class="file-input"
                accept="image/*"
                multiple
                (change)="onFileSelected($event)"
              />
            </div>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
