<div class="container">
  <h1>PUNTO DE PARTIDA</h1>
  <input type="text" placeholder="{{ 'NUEVO_VIAJE.FROM' | translate }}" class="input-viaje form-control"
    [(ngModel)]="origen" name="origen" [ngModelOptions]="{ standalone: true }"
    (input)="obtenerSugerenciasOrigen($event)" />
  <ul *ngIf="sugerenciasOrigen.length > 2" class="list-group lista_sugerencias">
    <li *ngFor="let localidad of sugerenciasOrigen; let i = index" [ngClass]="{'list-group-item': true}"
      (click)="seleccionarLocalidadOrigen(localidad)">
      {{ localidad.descripcion.split(',')[0].trim() }} - {{ localidad.provincia }}
    </li>
  </ul>
</div>

<div class="container">
  <h1>LUGAR DE LLEGADA</h1>
  <input type="text" placeholder="{{ 'NUEVO_VIAJE.TO' | translate }}" class="input-viaje form-control"
    [(ngModel)]="destino" name="destino" [ngModelOptions]="{ standalone: true }"
    (input)="obtenerSugerenciasDestino($event)" />
  <ul *ngIf="sugerenciasDestino.length > 2" class="list-group lista_sugerencias">
    <li *ngFor="let localidad of sugerenciasDestino; let i = index" [ngClass]="{'list-group-item': true}"
      (click)="seleccionarLocalidadDestino(localidad)">
      {{ localidad.descripcion.split(',')[0].trim() }} - {{ localidad.provincia }}
    </li>
  </ul>
</div>