<ion-header>
  <nav class="navbar bg-body-tertiary diseno">
    <div class="container-fluid">
      <ul>
        <li class="nav-item d-flex flex-column align-items-center">
          <ion-button fill="clear" routerLink="/nuevo-viaje">
            <mat-icon class="back-icon">arrow_back</mat-icon>
            <img type="button" src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
            PrideRide
          </ion-button>
        </li>
      </ul>

      <ion-title>Datos para el viaje</ion-title>

      <form class="d-flex align-items-center buscar-viaje">
        <a class="nav-link active d-flex align-items-center" aria-current="page" href="/busqueda-viajes">
          Buscar viaje <mat-icon>search</mat-icon>
        </a>

        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="caja-icono tamano-icono">person_off</mat-icon>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
          <li><a class="dropdown-item" href="/registro">Registrarse</a></li>
        </ul>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <app-jumbotron></app-jumbotron>

  <!-- PRIMER PASO PARA CREAR UN VIAJE -->
  <div class="container" id="primer_paso" *ngIf="primer_paso">
    <app-primer-paso></app-primer-paso>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <button type="button" mat-raised-button class="btn_bg" (click)="onPrimerPasoComplete()">Continuar</button>
    </div>
  </div>

  <!-- SEGUNDO PASO PARA CREAR UN VIAJE -->
  <div class="container" id="segundo_paso" *ngIf="segundo_paso">
    <app-segundo-paso></app-segundo-paso>
    <div class="d-flex justify-content-center mt-3 mb-3 btn-banner">
      <!-- Botón Atrás -->
      <button type="button" mat-raised-button class="btn_bg" (click)="onSegundoPasoBack()">Atrás</button>
      <button type="button" mat-raised-button class="btn_bg" (click)="onSegundoPasoComplete()">Continuar</button>
    </div>
  </div>

  <!-- TERCER PASO PARA CREAR UN VIAJE -->
  <div id="tercer_paso" *ngIf="tercer_paso">
    <div class="container">
      <h1>SELECCIONA UNA RUTA</h1>
    </div>

    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngIf="routes.length > 0">
              <div *ngFor="let route of routes; let i = index" (click)="selectRoute(i)" class="route-option">
                <!-- Mostrar rutas aquí -->
              </div>
            </div>
          </ion-col>

          <ion-col>
            <div class="contenedor_mapa">
              <google-map [center]="mapCenter" [zoom]="zoom" height="500px" width="100%">
                <map-directions-renderer *ngIf="selectedRoute" [directions]="selectedRoute"></map-directions-renderer>
              </google-map>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="d-flex justify-content-center mt-3 mb-3 btn-banner">
      <!-- Botón Atrás -->
      <button type="button" mat-raised-button class="btn_bg" (click)="onTercerPasoBack()">Atrás</button>
      <button type="button" mat-raised-button class="btn_bg" (click)="onTercerPasoComplete()">Finalizar viaje</button>
    </div>
  </div>

</ion-content>
