<app-pagesnavbar [backRoute]="'/nuevo-viaje'" [searchRoute]="'search'" [isLoggedIn]="userLoggedIn"></app-pagesnavbar>

<ion-content [fullscreen]="true">
  <app-jumbotron [title]="'Un espacio seguro para compartir cada kilómetro.'"
    [imageSrc]="'../../assets/folder/jumbo4.jpg'" [helpText]="'JUMBOTRON.HELP'">
  </app-jumbotron>

  <!-- PRIMER PASO PARA CREAR UN VIAJE -->
  <div class="container" id="primer_paso" *ngIf="primer_paso">
    <app-primer-paso></app-primer-paso>
    <div class="d-flex justify-content-center mt-3 mb-3">
      <p-toast position="bottom-center"></p-toast>
      <button type="button" mat-raised-button class="btn_bg" (click)="onPrimerPasoComplete()">
        Continuar
      </button>
    </div>
  </div>

  <!-- SEGUNDO PASO PARA CREAR UN VIAJE -->
  <div class="container" id="segundo_paso" *ngIf="segundo_paso">
    <app-segundo-paso></app-segundo-paso>
    <div class="d-flex justify-content-center mt-3 mb-3 btn-banner">
      <!-- Botón Atrás -->
      <button type="button" mat-raised-button class="btn_bg" (click)="onSegundoPasoBack()">
        Atrás
      </button>
      <button type="button" mat-raised-button class="btn_bg" (click)="onSegundoPasoComplete()">
        Continuar
      </button>
    </div>
  </div>

  <!-- TERCER PASO PARA CREAR UN VIAJE -->
  <div id="tercer_paso" *ngIf="tercer_paso">
    <div class="container">
      <h1>SELECCIONA UNA RUTA</h1>
    </div>

    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngIf="routes.length > 0">
              <div *ngFor="let route of routes; let i = index" (click)="selectRoute(i)" class="route-option"
                [class.selected]="selectedRoute?.routes?.[0] === route">
                <h3>Ruta {{ i + 1 }}</h3>
                <p>Distancia: {{ route.legs[0].distance?.text }}</p>
                <p>Duración: {{ route.legs[0].duration?.text }}</p>
              </div>
            </div>
            <div *ngIf="routes.length === 0">
              <p>
                No se encontraron rutas. Intenta con otros puntos de origen o
                destino.
              </p>
            </div>
          </ion-col>

          <ion-col>
            <div class="contenedor_mapa">
              <google-map [center]="mapCenter" [zoom]="zoom" height="500px" width="100%">
                <map-directions-renderer *ngIf="selectedRoute" [directions]="selectedRoute"></map-directions-renderer>
              </google-map>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="d-flex justify-content-center mt-3 mb-3 btn-banner">
      <!-- Botón Atrás -->
      <button type="button" mat-raised-button class="btn_bg" (click)="onTercerPasoBack()">
        Atrás
      </button>
      <button type="button" mat-raised-button class="btn_bg" (click)="onTercerPasoComplete()">
        Finalizar viaje
      </button>
    </div>
  </div>
</ion-content>