.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F0D7B4;
}

ion-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 0;
  border-radius: 15px;
  color: black !important;
}

ion-title {
  font-size: 18px;
  text-align: center;
  flex-grow: 1;
}

.contenedor_inputs {
  width: 60%;
}

.contenedor_mapa {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}


ion-select {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

ion-alert {
  border-radius: 35px;
}

.route-option {
  padding: 10px;
  margin: 5px 0;
  background: #f0f0f0;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.route-option:hover {
  background: #F0D7B4;
}

.btn-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn-banner button {
  font-size: 0.9rem;
  padding: 8px 16px;
}

.route-option {
  padding: 10px;
  border: 1px solid #B3B5E6;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);

  &:hover {
    background-color: #F0D7B4;
  }

  &.selected {
    background-color: #B3B5E6;
    color: white;
  }
}

