.logo {
  width: 170px;
  border-radius: 50%;
  padding: 1%;
}

.form-input {
  width: 350px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 15px;
  box-sizing: border-box;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 35px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border: 3px solid #9b59b6;
  outline: none;
}

// CONFIGURACIÓN PARA EL MENSAJE DE ALERTA
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  font-weight: bold;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 2px solid red;
}