<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center;">
      <ion-title [routerLink]="['/home']">
        <img src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
      </ion-title>
      <ion-title style="margin-left: -10px;">Sobre Nosotros</ion-title> <!-- Ajuste de margen aquí -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container mt-2">
    <ion-title size="large">Sobre Nosotros</ion-title>
    <div id="subtítulo">
      <p class="borderDraw"> Aquí se hacen un moton de cosas </p>
      <p>En PrideRide nos apasiona ofrecer experiencias únicas a nuestros usuarios, promoviendo un entorno inclusivo,
        sostenible y divertido. Creemos que el transporte puede ser más que solo un medio para llegar de un lugar a
        otro: debe ser una forma de disfrutar del viaje y conectarse con la comunidad.</p>
      <p>Nuestra misión es proporcionar opciones de movilidad que no solo sean ecológicas, sino que también fomenten la
        igualdad y la diversidad. Trabajamos para ofrecer soluciones que beneficien a todos, sin importar su identidad,
        género u orientación sexual. En PrideRide, nos comprometemos a crear un espacio donde cada persona se sienta
        cómoda y bienvenida.</p>
      <p>Desde nuestras bicicletas eléctricas hasta nuestras opciones de transporte compartido, buscamos siempre la
        mejor forma de hacer tu viaje más accesible y agradable. Únete a nosotros en este viaje por un futuro más
        inclusivo, respetuoso y divertido.</p>
    </div>
  </div>
</ion-content>