ion-header {
  background-color: #e0a667 !important;
}

ion-button {
  color: #000000 !important;
}

.space_title {
  margin-right: -91%;
}

.borderDraw {
  border-left: 3px solid #e0a667;
  padding: 1%;
}

.box_sugerencias {
  border-radius: 15px;
  border: #e0a667 solid 1px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  background-color: rgba(224, 166, 103, 0.28);
  padding: 1%;
}

.interes {
  color: #9b4dca;
  text-decoration: underline;
  text-decoration-color: #9b4dca;
}

.interes:hover {
  color: #F0D7B4;
  text-decoration-color: #F0D7B4;
}

.box_text {
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  background-color: #B7e0b4;
  margin-bottom: 3%;
  margin-top: 2%;
}

.box_img {
  display: flex;
  justify-content: end;
  position: relative;
  position: relative;
  z-index: 1;
  bottom: 130px;
  left: 67px;
}

.img_arco {
  width: 15%;
  transform: rotate(-52deg);
  position: absolute;
  z-index: 100;
}

@media (max-width: 576px) {
  .box_img {
    display: flex;
    justify-content: end;
    position: relative;
    position: relative;
    z-index: 1;
    bottom: 79px;
    left: 51px;
  }

  .img_arco {
    width: 30%;
    transform: rotate(-52deg);
    position: absolute;
    z-index: 100;
  }
}

/*
* CONFIGURACIÓN PARA LOS CARDS DE NUESTROS PERFILES
* -------------------------------------------------
*/
.body-card {
  max-width: 400px;
  background-color: rgba(224, 166, 103, 0.28);
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  overflow: hidden;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: transparent;
  pointer-events: none;
  transition: background 0.3s ease;
  z-index: 1;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  transform-origin: center;
  border-radius: 10px;
}

.image-container img:hover {
  transform: scale(1.1);
}

.image-container img::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}


.header-image-tom {
  background-image: url('../../../assets/autores/137113975.png');
  background-size: cover;
}

.header-image-dani {
  background-image: url('../../../assets/autores/24509644.jpeg');
  background-size: cover;
}
