<ion-header>
  <nav class="navbar bg-body-tertiary diseno">
    <div class="container-fluid">
      <ul>
        <li class="nav-item d-flex flex-column align-items-center">
          <ion-button fill="clear" routerLink="/home">
            <mat-icon class="back-icon">arrow_back</mat-icon>
            <img type="button" src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
            PrideRide
          </ion-button>
        </li>
      </ul>

      <form class="d-flex align-items-center buscar-viaje">
        <a class="nav-link active d-flex align-items-center" aria-current="page" href="/busqueda-viajes">
          Buscar viaje <mat-icon>search</mat-icon>
        </a>

        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="caja-icono tamano-icono">person_off</mat-icon>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
          <li><a class="dropdown-item" href="/registro">Registrarse</a></li>
        </ul>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container mt-2">
    <ion-title size="large">SOBRE NOSOTROS</ion-title>
    <mat-divider class="mb-2"></mat-divider>
    <div id="general">
      <p class="borderDraw"> "Aquí se hacen un motón de cosas" </p>
      <p>En PrideRide nos apasiona ofrecer experiencias únicas a nuestros usuarios, promoviendo un entorno inclusivo,
        sostenible y divertido. Creemos que el transporte puede ser más que solo un medio para llegar de un lugar a
        otro: debe ser una forma de disfrutar del viaje y conectarse con la comunidad.</p>
      <p>Nuestra misión es proporcionar opciones de movilidad que no solo sean ecológicas, sino que también fomenten la
        igualdad y la diversidad. Trabajamos para ofrecer soluciones que beneficien a todos, sin importar su identidad,
        género u orientación sexual. En PrideRide, nos comprometemos a crear un espacio donde cada persona se sienta
        cómoda y bienvenida.</p>
      <p>Desde nuestras bicicletas eléctricas hasta nuestras opciones de transporte compartido, buscamos siempre la
        mejor forma de hacer tu viaje más accesible y agradable. Únete a nosotros en este viaje por un futuro más
        inclusivo, respetuoso y divertido.</p>
    </div>

    <div id="comienzo">
      <h6> CÓMO COMENZÓ LA IDEA PARA CREAR PRIDERIDE </h6>
    </div>

    <div class="d-flex justify-content-center">
      <p class="borderDraw"><strong>Creadores de PrideRide</strong> 👉 Dani & Tommy </p>
    </div>

    <div id="sugerencias" class="box_sugerencias mb-3">
      <h6>QUEJAS Y/ SUGERENCIAS</h6>
      <mat-divider class="mb-2"></mat-divider>
      <p>Si tienes algún tipo de sugerencia,háznoslo saber. Estaremos encantados de atenderte en todo lo posible. 😀</p>
      <div class="d-flex justify-content-center">
        <button type="button" mat-raised-button>Envíanos tu sugerencia</button>
      </div>
    </div>

    <div class="mt-2 borderDraw">
      <h6>ENLACES DE INTERÉS DE PRIDERIDE</h6>
      <ul>
        <li>
          <a href="" class="interes me-2">Política de cookies</a>👈
        </li>
        <li>
          <a href="" class="interes me-2">Términos y condiciones</a> 👈
        </li>
        <li>
          <a href="" class="interes me-2">Preguntas frecuentes</a>👈
        </li>
      </ul>
    </div>

  </div>
</ion-content>