<div class="container" @dialogAnimation>
  <div class="modal-header d-flex align-items-center">
    <div class="d-flex align-items-center">
      <mat-icon class="icon-red">question_mark</mat-icon>
      <h2 class="ms-2">{{ data.title }}</h2>
    </div>
    <button mat-icon-button class="close-button" (click)="close()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="modal-body">
    <p>{{ data.message }}</p>
  </div>
  <div class="modal-footer">
    <button mat-button (click)="close()">Cerrar</button>
  </div>
</div>
