<div class="container modal-infovisible mt-2">
  <div class="dialog-header">
    <h2 mat-dialog-title>Detalles del viaje </h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar ventana de dialogo">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <h2>Viaje <mat-icon>emoji_transportation</mat-icon></h2>
        <mat-divider class="mb-2"></mat-divider>
        <p><strong>Origen:</strong> {{ data.viaje.origen }}</p>
        <p><strong>Destino:</strong> {{ data.viaje.destino }}</p>
        <p><strong>Hora de salida:</strong> {{ data.viaje.hora_salida }}</p>
        <p><strong>Plazas libres:</strong> {{ data.viaje.plazas }}</p>
        <p *ngIf="data.viaje.precio_viaje"><strong>Precio:</strong> {{ data.viaje.precio_viaje }} €</p>
        <p *ngIf="!data.viaje.precio_viaje"><strong>Precio:</strong> Sin precio asignado </p>
      </div>
      <div class="col">
        <h2>Usuario <mat-icon>article_person</mat-icon></h2>
        <mat-divider class="mb-2"></mat-divider>
        <p><strong>Nombre:</strong> {{ data.viaje.usuario.nombre }}</p>
        <p><strong>Apellidos:</strong> {{ data.viaje.usuario.apellidos }}</p>
        <p><strong>Preferencias:</strong> {{ preferencias}}</p>
        <p><strong>Puntuación:</strong> {{ data.viaje.usuario.puntuacion_promedio }}</p>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button mat-raised-button class="btn btn_bg me-3" ><mat-icon>no_crash</mat-icon>Quiero viajar aquí </button>
      <button mat-raised-button class="btn" (click)="closeDialog()">Cerrar</button>
    </div>

  </mat-dialog-content>
</div>