<ion-header>
  <nav class="navbar bg-body-tertiary diseno">
    <div class="container-fluid">
      <ul>
        <li class="nav-item d-flex flex-column align-items-center">
          <a class="" href="#">
            <img src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
          </a>
          <h1 class="m-0 text-center">PrideRide</h1>
        </li>
      </ul>

      <form class="d-flex align-items-center" role="search">
        <a class="nav-link me-4" aria-current="page" href="/publicarviaje"
          >Publicar viaje</a
        >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <mat-icon class="caja-icono tamano-icono"> person</mat-icon>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Mi perfil</a></li>
          <li><a class="dropdown-item" href="#">Mis viajes</a></li>
          <li><a class="dropdown-item" href="#">Pagos</a></li>
          <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <app-datos-usuario></app-datos-usuario>
</ion-content>
