<ion-header>
  <nav class="navbar bg-body-tertiary diseno">
    <div class="container-fluid">
      <ul>
        <li class="nav-item d-flex flex-column align-items-center">
          <a class="" href="#">
            <img src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
          </a>
          <h1 class="m-0 text-center">PrideRide</h1>
        </li>
      </ul>

      <form class="d-flex align-items-center buscar-viaje">
        <a
          class="nav-link active d-flex align-items-center"
          aria-current="page"
          href="/busqueda-viajes"
        >
          Buscar viaje <mat-icon>search</mat-icon>
        </a>

        <a
          class="nav-link active d-flex align-items-center"
          aria-current="page"
          href="/busqueda-viajes"
        >
          Publicar viaje
        </a>

        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <mat-icon class="caja-icono tamano-icono">person_off</mat-icon>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="/login">Mi perfil</a></li>
          <li>
            <a class="dropdown-item" href="/registro">Saldo y transferencias</a>
          </li>
          <li>
            <a class="dropdown-item" href="/registro">Ajustes de la cuenta</a>
          </li>
          <li><a class="dropdown-item" href="/registro">Salir</a></li>
        </ul>
      </form>
    </div>
  </nav>
</ion-header>

<ion-content [fullscreen]="true">
  <app-datos-usuario></app-datos-usuario>
</ion-content>
