<div class="container d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center">
    <h2>INFORMACIÓN PERSONAL</h2>
  </div>

  <ion-row class="d-flex justify-content-center mb-4">
    <ion-col>
      <div>
        <img
          src="../../../assets/User-Profile-PNG-Image.png"
          style="width: 220px"
        />
      </div>
      <ion-row class="d-flex justify-content-center">
        <div>
          <h5>NOMBRE</h5>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-col class="footer-item" size="6">
        <a type="button" class="footer-link" (click)="openInfoVisible()"
          >Tu información visible</a
        >
      </ion-col>
    </ion-col>
    <ion-col>
      <ion-col class="footer-item" size="6">
        <a type="button" class="footer-link" (click)="openDatosContacto()"
          >Verificaciones / Datos de contacto</a
        >
      </ion-col>
    </ion-col>
  </ion-row>
</div>
