<div class="container d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center">
    <h2>{{ "PERFIL_USUARIO.INFO_PERSONAL" | translate }}</h2>
  </div>

  <ion-row class="d-flex justify-content-center mb-4">
    <ion-col>
      <div>
        <img
          src="../../../assets/User-Profile-PNG-Image.png"
          style="width: 220px"
        />
      </div>
      <ion-row class="d-flex justify-content-center">
        <div>
          <h5>NOMBRE</h5>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="botonera">
    <ion-col size="auto">
      <button type="button" class="btn btn_bg" (click)="openInfoVisible()">
        {{ "PERFIL_USUARIO.BT_INFOVISIBLE" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button type="button" class="btn btn_bg" (click)="openDatosContacto()">
        {{ "PERFIL_USUARIO.BT_VERIFICACIONES" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button type="button" class="btn btn_bg" (click)="openAjustesCuenta()">
        {{ "PERFIL_USUARIO.BT_AJCUENTA" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button
        type="button"
        class="btn btn_bg"
        (click)="openSaldoTransferencias()"
      >
        {{ "PERFIL_USUARIO.BT_SALDO" | translate }}
      </button>
    </ion-col>
  </ion-row>
</div>
