@media (max-width: 576px) {
  .botonera{
    flex-direction: column !important;
    display: flex !important;
  }
  .botonera ion-col {
    flex: 1 1 100%; /* Ocupa el 100% del ancho */
    max-width: 100%; /* Evita que se desborde */
    text-align: center; /* Centra el contenido */
  }
}

.boton-foto{
  top: 225px;
  left: 725px;
  display: flex;
  height: 40px;
  position: absolute;
}

.boton{
  clip-path: polygon(0 0, 100% 0, 100% 12%, 98% 50%, 100% 90%, 100% 100%, 0 100%);

}
