<div class="container d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center">
    <h2>{{ "PERFIL_USUARIO.INFO_PERSONAL" | translate }}</h2>
  </div>

  <ion-row class="d-flex justify-content-center mb-4">
    <div class="d-flex boton-foto">
      <button type="button" class="btn btn_bg boton">
        {{ "PERFIL_USUARIO.FOTO" | translate }}
      </button>
    </div>
    <div class="d-flex boton-x">
      <button
        type="button"
        matTooltip="Elimina tu foto"
        class="btn text-boton d-flex justify-content-center align-items-center btn_bg"
      >
        X
      </button>
    </div>

    <ion-col>
      <div>
        <img
          src="../../../assets/User-Profile-PNG-Image.png"
          style="width: 220px"
        />
      </div>
      <ion-row class="d-flex justify-content-center">
        <div>
          <h5>NOMBRE</h5>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="botonera">
    <ion-col size="auto">
      <button
        type="button"
        mat-raised-button
        class="btn btn_bg btn_opciones"
        (click)="openInfoVisible()"
      >
        {{ "PERFIL_USUARIO.BT_INFOVISIBLE" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button
        type="button"
        mat-raised-button
        class="btn btn_bg btn_opciones"
        (click)="openDatosContacto()"
      >
        {{ "PERFIL_USUARIO.BT_VERIFICACIONES" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button
        type="button"
        mat-raised-button
        class="btn btn_bg btn_opciones"
        (click)="openAjustesCuenta()"
      >
        {{ "PERFIL_USUARIO.BT_AJCUENTA" | translate }}
      </button>
    </ion-col>

    <ion-col size="auto">
      <button
        type="button"
        mat-raised-button
        class="btn btn_bg btn_opciones"
        (click)="openSaldoTransferencias()"
      >
        {{ "PERFIL_USUARIO.BT_SALDO" | translate }}
      </button>
    </ion-col>
  </ion-row>
</div>
