.input-container {
  display: flex;
  gap: 10px;
}

.digit-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s;
}


.file-upload {
  display: inline-block;
  position: relative;
}

.file-input {
  display: none;
}

/* Botón personalizado con el símbolo "+" */
.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: #B3B5E6;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  line-height: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}

.upload-button:hover {
  background-color: #E0A667;
}

.modal-datoscontacto{
  width: 560px;
  height: auto;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header h2 {
  margin: 0;
}

.dialog-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.btn_bg{
  width: 150px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28);
}


@media (max-width: 576px) {
  .modal-datoscontacto{
    width: auto;
    height: auto;
  }
}
