<div class="container modal-datoscontacto">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "MODAL_VERIFICACIONES.TITULO" | translate }}</h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>
      {{ "MODAL_VERIFICACIONES.SUBTITULO1" | translate }}
    </p>
    <p>
      {{ "MODAL_VERIFICACIONES.SUBTITULO2" | translate }}
    </p>

    <p>
      {{ "MODAL_VERIFICACIONES.SUBTITULO3" | translate }}
    </p>

    <mat-divider></mat-divider>

    <p class="d-flex justify-content-center">
      <strong>{{ "MODAL_VERIFICACIONES.CORREO_TITULO" | translate }}</strong>
    </p>
    <ion-row class="mb-4">
      <ion-col>
        <div class="d-flex justify-content-center align-items-center">
          <button type="btn" class="btn_bg" mat-raised-button>micorreo</button>
        </div>
      </ion-col>
      <ion-col>
        <p>
          {{ "MODAL_VERIFICACIONES.CORREO_SUBTITULO" | translate }}
        </p>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <p class="d-flex justify-content-center mb-0">
      <strong>{{ "MODAL_VERIFICACIONES.TFNO_TITULO" | translate }}</strong>
    </p>
    <ion-row class="mb-4">
      <ion-col class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn_bg" mat-raised-button type="btn">
            66666666666
          </button>
        </div>
      </ion-col>
      <ion-col>
        <p>{{ "MODAL_VERIFICACIONES.TFNO_SUBTITULO" | translate }}</p>
        <div class="input-container">
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
          <input type="text" maxlength="1" class="digit-input" />
        </div>
        <div>
          <button
            type="button"
            class="btn mt-2 btn_bg"
            mat-raised-button
            style="
              background-color: #a758e8;
              width: 200px;
              height: 30px;
              font-size: 12px;
            "
          >
            {{ "MODAL_VERIFICACIONES.TFNO_BOTON" | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <p class="d-flex justify-content-center">
      <strong>{{ "MODAL_VERIFICACIONES.IDENTIDAD_TITULO" | translate }}</strong>
    </p>
    <ion-row>
      <ion-col class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center">
          <div class="file-upload">
            <label for="identidad" class="upload-button">+</label>
            <input
              type="file"
              id="identidad"
              class="file-input"
              accept="image/*"
              multiple
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
      </ion-col>

      <ion-col>
        <p>
          {{ "MODAL_VERIFICACIONES.IDENTIDAD_SUBTITULO" | translate }}
        </p>
      </ion-col>
    </ion-row>

    <mat-divider></mat-divider>

    <div>
      <h4>{{ "MODAL_VERIFICACIONES.CCONDUCIR_TITULO" | translate }}</h4>
      <p style="color: #ff4040">
        {{ "MODAL_VERIFICACIONES.CCONDUCIR_SUBTITULO" | translate }}
      </p>
      <div class="file-upload d-flex justify-content-center">
        <label for="carnetconducir" class="upload-button">+</label>
        <input
          type="file"
          id="carnetconducir"
          class="file-input"
          accept="image/*"
          multiple
          (change)="onFileSelected($event)"
        />
      </div>
    </div>

    <div></div>
  </mat-dialog-content>
</div>
