.logo{
  width: 85px;
    border-radius: 30px;
}

.caja-icono{
  height: 50px !important;
  width: 50px !important;
}

.tamano-icono{
  font-size: 50px !important;
  color: black;
}

.diseno{
  background-color: #E0A667 ;
}
