<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'newTravel'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <app-jumbotron [title]="'JUMBOTRON.TITLE'" [imageSrc]="'../../assets/folder/jumbo.jpg'" [helpText]="'JUMBOTRON.HELP'">
  </app-jumbotron>
  <div class="mt-3">
    <!-- COMPONENTE DEL BUSCADOR DE VIAJES -->
    <div class="buscador_box">
      <div class="seeker">
        <app-buscador></app-buscador>
      </div>
    </div>

    <app-resultados-busqueda></app-resultados-busqueda>
  </div>
</ion-content>