.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-header h2 {
  margin: 0;
}

.dialog-header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-saldo{
  width: 560px;
  height: auto;
}

@media (max-width: 576px) {
  .modal-saldo{
    width: auto;
    height: auto;
  }
}
