<div class="container mainbox">

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" class="white-header">
        <mat-icon class="me-1">search</mat-icon> <ion-label>Buscador de viajes</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="input-container">
                <mat-icon>share_location</mat-icon>
                <ion-input label="De" labelPlacement="floating" maxlength="20"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="input-container">
                <mat-icon>share_location</mat-icon>
                <ion-input label="A" labelPlacement="floating" maxlength="20"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="input-container">
                <mat-icon>schedule</mat-icon>
                <ion-input label="Cuando" labelPlacement="floating" type="date"></ion-input>
              </div>
            </ion-col>
            <ion-col class="selector_personas">
              <div class="input-container cajon_selector_personas">
                <mat-icon>group</mat-icon>
                <ion-select aria-label="n_personas" interface="popover" placeholder="Nº Personas">
                  <ion-select-option value="one">1</ion-select-option>
                  <ion-select-option value="two">2</ion-select-option>
                  <ion-select-option value="three">3</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- BOTON PARA BUSCAR -->
        <div class="caja_boton">
          <button mat-raised-button class="btn_config">
            <mat-icon>search</mat-icon>
            Buscar
          </button>
        </div>
        
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>