<div class="container mainbox">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="input-container">
          <mat-icon>share_location</mat-icon>
          <ion-input label="De" labelPlacement="floating" maxlength="20"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="input-container">
          <mat-icon>share_location</mat-icon>
          <ion-input label="A" labelPlacement="floating" maxlength="20"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="input-container">
          <mat-icon>schedule</mat-icon>
          <ion-input label="Cuando" labelPlacement="floating" maxlength="20"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div class="input-container">
          <mat-icon>group</mat-icon>
          <ion-input label="Nº Personas" labelPlacement="floating" maxlength="20"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>