:root {
  --ion-background-color: #ffffff !important;
  --ion-color-custom-white: #ffffff;
  --ion-color-custom-white-rgb: 255, 255, 255;
  --ion-color-custom-white-contrast: #000000;
  --ion-color-custom-white-contrast-rgb: 0, 0, 0;
  --ion-color-custom-white-shade: #e0e0e0;
  --ion-color-custom-white-tint: #f2f2f2;
  --highlight-color-valid: var(#000000, #000000);

}

:host{
  --mdc-filled-text-field-container-color: white;
  --mat-sys-surface-variant: white;
  --mat-sys-primary: #e0a667;
  // Color componentes de ionic
  --ion-color-success:#e0a667;
  --ion-color-success-shade:#e0a667;
  --ion-color-success-tint: #e0a667;
}

/* Estilo para el acordeón */
.white-header {
  background-color: #F4F5F8 !important;
  color: black !important;
  --background: #F4F5F8;
  --ion-text-color: black !important;
}

/* Asegura que los iconos también sean visibles */
.white-header ion-icon {
  color: black !important;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: #000000 !important;
}

:host(.ion-valid) {
  --highlight-color: #000000 !important;
}

/* Fondo blanco para el contenido del acordeón */
div[slot='content'] {
  background-color: #F4F5F8 !important;
}

/* Estilo general */
.mainbox {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  color: black;
  background-color: #F4F5F8;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container mat-icon {
  margin-right: 8px;
}

.caja_boton {
  margin-top: 1%;
}

.btn_config {
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
}

.input-container mat-icon {
  margin-right: 6px;
}

.selector_personas {
  max-width: 169px;
}

.cajon_selector_personas {
  margin-top: 2%;
}

/* Responsividad para móviles */
@media (max-width: 576px) {
  .input-container {
    margin-bottom: 16px;
  }
  .input-container mat-icon {
    margin-right: 6px;
  }
  .input-container ion-input {
    margin-right: -31px;
  }
  .caja_boton {
    text-align: center;
  }

  .contenido{
    display: flex;
    flex-direction: column;
  }

  .columna{
    margin-bottom: 10%;
  }

  .inputs{
    text-align: start !important;
  }
}

/**
* Configuración para mostrar el mensaje de error sobre el footer
* -------------------------------------------------------------
*/
::ng-deep .p-toast {
  bottom: 80px !important;
}

/*
* CONFIGURACIÓN PARA LA LISTA DE SUGERENCIAS
* ------------------------------------------
*/
.lista_sugerencias {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: auto;
}

.lista_sugerencias li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.lista_sugerencias li:hover {
  background-color: #f0f0f0;
}