ion-button {
  color: #000000 !important;
}

ion-accordion {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0 0 0 / 28%);
  color: black;

}


.white-header {
  background-color: #b7e0b4!important;
  color: black !important;
  --background: #b7e0b4;
  --ion-text-color: black !important;
}
