<app-pagesnavbar
  [backRoute]="'/home'"
  [searchRoute]="'newTravel'"
  [isLoggedIn]="userLoggedIn"
></app-pagesnavbar>

<ion-content [fullscreen]="true" *ngIf="!isLoading">
  <div class="container">
    <h1>CENTRO DE AYUDA</h1>
    <mat-divider></mat-divider>

    <!-- Introducción y Visión General -->
    <div class="contanier mt-2 mb-3">
      <h3>Introducción y Visión General</h3>
      <ion-accordion-group class="mb-3">
        <ion-accordion value="intro">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Qué es la aplicación? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Nuestra aplicación conecta a miembros de la comunidad LGBTQ+ que
            buscan compartir viajes, ofreciendo un espacio seguro e inclusivo
            para todos.
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <mat-divider></mat-divider>

      <!-- Registro de Usuarios -->
      <h3>Registro de Usuarios</h3>
      <ion-accordion-group class="mb-3">
        <ion-accordion value="registro" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo puedo registrarme? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Para registrarte, haz clic en "Crear cuenta", introduce tu
            información personal y verifica tu email para completar el registro.
          </div>
        </ion-accordion>
        <ion-accordion value="editarPerfil" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo puedo editar mi perfil? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Ve a la sección de "Perfil" en el menú, realiza los cambios que
            desees y guarda la configuración.
          </div>
        </ion-accordion>
        <ion-accordion value="seguridadDatos" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Qué medidas de seguridad se aplican a los datos personales?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Implementamos estándares avanzados de cifrado para proteger tu
            información personal. Tus datos nunca serán compartidos sin tu
            consentimiento.
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <mat-divider></mat-divider>

      <!-- Publicar un Viaje -->
      <h3>Publicar un Viaje</h3>
      <ion-accordion-group class="mb-3">
        <ion-accordion value="publicarViaje" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo puedo publicar un viaje? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Ve a la sección "Publicar viaje", selecciona origen, destino, fecha,
            hora, y el precio de tu viaje. Finalmente, haz clic en "Publicar".
          </div>
        </ion-accordion>
        <ion-accordion value="editarViaje" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Cómo puedo editar o cancelar un viaje publicado?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Accede a "Mis viajes", selecciona el viaje que deseas modificar o
            cancelar, y realiza los cambios necesarios.
          </div>
        </ion-accordion>
        <ion-accordion value="cancelarViaje" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Qué pasa si tengo que cancelar un viaje a última hora?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Notifica a los pasajeros lo antes posible desde la opción "Cancelar
            viaje" en la sección de "Mis viajes".
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <mat-divider></mat-divider>

      <!-- Buscar y Reservar un Viaje -->
      <h3>Buscar y Reservar un Viaje</h3>
      <ion-accordion-group class="mb-3">
        <ion-accordion value="buscarViaje" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo puedo buscar un viaje? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Usa el buscador principal en la pantalla de inicio. Ingresa el
            origen, destino y fecha del viaje para encontrar opciones
            disponibles.
          </div>
        </ion-accordion>
        <ion-accordion value="reservaViaje" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo funciona la reserva de un viaje? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Selecciona el viaje que deseas, confirma tu reserva, y contacta al
            conductor para coordinar detalles del encuentro.
          </div>
        </ion-accordion>
        <ion-accordion value="cancelarReserva" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Qué sucede si mi conductor cancela el viaje?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Recibirás una notificación y podrás buscar otros viajes disponibles
            en la misma ruta.
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <mat-divider></mat-divider>

      <!-- Seguridad y Confianza -->
      <h3>Seguridad y Confianza</h3>
      <ion-accordion-group class="mb-3">
        <ion-accordion value="reportarProblema" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label> ¿Cómo puedo reportar un problema o usuario? </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Ve al perfil del usuario o viaje en cuestión, y selecciona
            "Reportar" en el menú de opciones.
          </div>
        </ion-accordion>
        <ion-accordion value="seguridadMedidas" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Qué medidas toman para garantizar la seguridad?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Verificamos perfiles, realizamos revisiones regulares, y fomentamos
            las calificaciones para asegurar un ambiente confiable.
          </div>
        </ion-accordion>
        <ion-accordion value="confianzaLGBTQ" class="mb-3">
          <ion-item slot="header" class="white-header">
            <ion-label>
              ¿Puedo viajar con confianza siendo parte de la comunidad LGBTQ+?
            </ion-label>
          </ion-item>
          <div slot="content" class="p-3">
            Absolutamente. Nuestro objetivo es proporcionar un espacio inclusivo
            y seguro para todos los usuarios de la comunidad LGBTQ+.
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>
</ion-content>

<ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
