<app-navbar
  [backRoute]="'/home'"
  [searchRoute]="'search'"
  [isLoggedIn]="userLoggedIn"
></app-navbar>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-row>
      <ion-col class="d-flex flex-column align-items-center">
        <div>
          <h4>Verificación básica</h4>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="justify-content-between mb-5">
      <ion-col size="3">
        <!-- Verificación de correo -->
        <div class="mt-2 text-center">
          <p>
            <strong>{{ "VERIF_PERFIL.VERIFICA_TU_CORREO" | translate }}</strong>
          </p>
          <ion-col>
            <button type="btn" class="btn btn_bg" mat-raised-button>
              micorreo
            </button>
          </ion-col>
          <ion-row>
            <ion-col>
              <p>{{ "VERIF_PERFIL.INFO_VERIF_CORREO" | translate }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>

      <div class="divider-container">
        <mat-divider vertical></mat-divider>
      </div>

      <ion-col size="3">
        <!-- Verificación de teléfono -->
        <div class="mt-2 text-center">
          <p>
            <strong>{{ "VERIF_PERFIL.VERIFICA_TU_TFNO" | translate }}</strong>
          </p>
          <ion-col>
            <button
              type="button"
              class="btn btn_bg"
              mat-raised-button
              type="btn"
            >
              66666666666
            </button>
          </ion-col>
          <ion-row>
            <ion-col class="mt-3">
              <p>{{ "VERIF_PERFIL.INFO_VERIF_TFNO" | translate }}</p>
            </ion-col>
          </ion-row>
          <div class="input-container d-flex justify-content-center">
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
            <input type="text" maxlength="1" class="digit-input mx-1" />
          </div>
          <button type="button" class="btn mt-2 btn_bg" mat-raised-button>
            {{ "BOTON.CONFIRMAR_CODIGO_TFNO" | translate }}
          </button>
        </div>
      </ion-col>
      <div class="divider-container">
        <mat-divider vertical></mat-divider>
      </div>
      <ion-col size="3">
        <!-- Verificación DNI -->
        <div class="mt-2 text-center">
          <p>
            <strong>{{ "VERIF_PERFIL.VERIF_TU_IDENTIDAD" | translate }}</strong>
          </p>
          <ion-col class="d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center position-relative">
              <div class="file-upload">
                <label for="identidad" class="upload-button floating-plus"
                  >+</label
                >
                <input
                  type="file"
                  id="identidad"
                  class="file-input"
                  accept="image/*"
                  multiple
                />
              </div>
            </div>
          </ion-col>
          <ion-row class="d-flex justify-content-center align-items-center">
            <ion-col class="texto">
              <p>{{ "VERIF_PERFIL.INFO_VERIFIDENTIDAD" | translate }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="justify-content-between mb-5 mt-5">
      <!-- Verificación adicional -->
      <ion-col size="3" class="d-flex align-items-start">
        <div class="text-center">
          <p class="text-center">
            <strong>Verificación adicional: Carnet de conducir</strong>
          </p>
          <div class="d-flex justify-content-center position-relative">
            <div class="file-upload">
              <label for="identidad" class="upload-button floating-plus"
                >+</label
              >
              <input
                type="file"
                id="identidad"
                class="file-input"
                accept="image/*"
                multiple
              />
            </div>
          </div>
          <p class="texto text-align-justify">
            {{ "VERIF_PERFIL.INFO_VERIFCONDUCIR" | translate }}
          </p>
        </div>
      </ion-col>

      <!-- Línea divisoria -->
      <div class="divider-container">
        <mat-divider vertical class="mat-divider-2"></mat-divider>
      </div>

      <!-- Cambio de contraseña -->
      <ion-col size="3" class="d-flex align-items-center justify-content-start">
        <div class="text-center">
          <p class="text-center">
            <strong>Cambio de contraseña</strong>
          </p>
          <ion-row class="mb-1">
            <ion-col size="12">
              <label for="cActual" class="form-label">
                {{ "VERIF_PERFIL.CONTRAS_ACTUAL" | translate }}
              </label>
              <input type="password" class="form-control" id="cActual" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label for="pNueva" class="form-label">
                {{ "VERIF_PERFIL.NUEVA_CONTRAS" | translate }}
              </label>
              <input type="password" class="form-control" id="pNueva" />
            </ion-col>
            <ion-col>
              <label for="pNuevaConfirm" class="form-label">
                {{ "VERIF_PERFIL.NUEVA_CONTRAS" | translate }}
              </label>
              <input type="password" class="form-control" id="pNuevaConfirm" />
            </ion-col>
          </ion-row>

          <ion-row class="mt-2 d-flex justify-content-center">
            <button type="button" class="btn btn_bg" mat-raised-button>
              {{ "BOTON.CAMBIAR" | translate }}
            </button>
          </ion-row>
        </div>
      </ion-col>

      <!-- Línea divisoria -->
      <div class="divider-container">
        <mat-divider vertical class="mat-divider-2"></mat-divider>
      </div>

      <!-- Eliminar la cuenta -->
      <ion-col size="3">
        <div class="text-center">
          <p class="text-center">
            <strong>{{ "VERIF_PERFIL.ELIMINAR_CTA" | translate }}</strong>
          </p>
          <div>
            <p style="color: red; font-weight: bold; text-align: justify">
              {{ "VERIF_PERFIL.INFO_ELIMINAR_CTA" | translate }}
            </p>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn_bg" mat-raised-button>
                {{ "BOTON.ELIMINAR_CTA" | translate }}
              </button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
