<div class="container">
  <div class="dialog-header">
    <h2 class="style_h2">Condiciones Generales de Uso</h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <div class="container">
      <h6>Términos de Uso de PrideRide</h6>
      <p>Última actualización: [Fecha]</p>
      <p>
        Bienvenido/a a PrideRide. Al utilizar nuestra aplicación, aceptas cumplir con estos Términos de Uso. Por favor,
        léelos detenidamente antes de usar nuestros servicios.
      </p>
  
      <h6>1. Aceptación de los Términos</h6>
      <p>Al registrarte y utilizar PrideRide, aceptas estos Términos de Uso, nuestra [Política de Privacidad](enlace a la
        política de privacidad) y cualquier normativa aplicable.</p>
  
      <h6>2. Descripción del Servicio</h6>
      <p>PrideRide es una plataforma que conecta a personas del colectivo LGBTQ+ para compartir viajes. Los usuarios
        pueden publicar, buscar y unirse a viajes ofrecidos por otros miembros de la comunidad. PrideRide no ofrece
        servicios de transporte, y no somos responsables de las relaciones entre los usuarios.</p>
  
      <h6>4. Comportamiento del Usuario</h6>
      <div>
        <p>Al utilizar PrideRide, te comprometes a:</p>
        <ul>
          <li>Tratar a todos los usuarios con respeto y dignidad.</li>
          <li>No discriminar ni acosar a ningún usuario por su orientación sexual, identidad de género, raza, religión u
            otros factores.</li>
          <li>Cumplir con todas las leyes aplicables durante los viajes organizados a través de la plataforma.</li>
          <li>No utilizar la aplicación para fines ilegales, fraudulentos o no autorizados.</li>
        </ul>
      </div>
  
      <h6>5. Publicación de Viajes</h6>
      <ul>
        <li>Los usuarios que organizan viajes deben proporcionar detalles precisos sobre el trayecto, incluyendo la hora,
          lugar de salida, destino y cualquier coste asociado.</li>
        <li>Es responsabilidad del organizador del viaje cumplir con las leyes locales de transporte, incluido el número
          máximo de pasajeros permitidos.</li>
      </ul>
  
      <h6>6. Relaciones entre Usuarios</h6>
      <p>PrideRide actúa únicamente como intermediario. No supervisamos ni verificamos la identidad, antecedentes ni
        idoneidad de los usuarios. Eres responsable de tomar precauciones razonables al interactuar con otros miembros de
        la comunidad.</p>
  
      <h6>7. Prohibiciones</h6>
      <p>Está prohibido:</p>
      <ul>
        <li>Publicar contenido falso, ofensivo, obsceno, ilegal o difamatorio.</li>
        <li>Utilizar PrideRide para actividades comerciales no autorizadas.</li>
        <li>Compartir información personal de otros usuarios sin su consentimiento.</li>
      </ul>
  
      <h6>8. Privacidad</h6>
      <p>Tu privacidad es importante para nosotros. Consulta nuestra Política de Privacidad para conocer cómo recopilamos,
        usamos y protegemos tu información personal.</p>
  
      <h6>9. Limitación de Responsabilidad</h6>
      <p>PrideRide no es responsable de:</p>
      <ul>
        <li>
          Cualquier incidente, accidente, daño o pérdida ocurrida durante un viaje organizado a través de la plataforma.
        </li>
        <li>
          La conducta de los usuarios antes, durante o después de un viaje.
        </li>
      </ul>
  
      <h6>10. Suspensión y Terminación</h6>
      <p>
        Nos reservamos el derecho de suspender o eliminar tu cuenta si violas estos Términos de Uso o si tu comportamiento
        afecta negativamente a otros usuarios o a la plataforma.
      </p>
  
      <h6>11. Modificaciones a los Términos</h6>
      <p>Podemos actualizar estos Términos de Uso en cualquier momento. Te notificaremos sobre cambios importantes y tu
        uso continuado de PrideRide después de dichos cambios constituye tu aceptación de los mismos.</p>
  
      <h6>12. Contacto</h6>
      <p>Si tienes preguntas o inquietudes sobre estos Términos de Uso, puedes contactarnos en:
        Correo: [correo]</p>
  
        <div class="d-flex justify-content-center">
          <button mat-raised-button (click)="closeDialog()">Aceptar</button>
        </div>
    </div>
   
  </mat-dialog-content>
</div>