<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex; align-items: center;">
      <ion-title [routerLink]="['/home']">
        <img type="button" src="../../../assets/logo/Logo2.png" alt="Logo" class="logo" />
      </ion-title>
      <ion-title style="margin-left: -10px;">Política de cookies</ion-title> 
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cookies</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
