.logo {
  width: 60px;
  border-radius: 30px;
  padding: 1%;
}


.cookie-panel {
  width: 100%;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.cookie-category {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
}



ion-button {
  color: black !important;
}

