<div class="container modal-infovisible">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{ "MODAL_INFOVISIBLE.TITULO" | translate }}</h2>
    <button mat-icon-button (click)="closeDialog()" aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <p>{{ "MODAL_INFOVISIBLE.SUBTITULO" | translate }}</p>
    <form>
      <div class="mb-3">
        <label for="pronombre" class="form-label">{{
          "MODAL_INFOVISIBLE.SEL_PRONOMBRE.PRONOMBRE" | translate
        }}</label>
        <select class="form-select" aria-label="Selección de pronombre">
          <option selected>
            {{ "MODAL_INFOVISIBLE.SEL_PRONOMBRE.SELECCIONA" | translate }}
          </option>
          <option value="1">Él / He / Him</option>
          <option value="2">Ella / She / Her</option>
          <option value="3">Elle / They / Them</option>
          <option value="4">
            {{ "MODAL_INFOVISIBLE.SEL_PRONOMBRE.OTROS" | translate }}
          </option>
          <option value="5">
            {{ "MODAL_INFOVISIBLE.SEL_PRONOMBRE.NINGUNO" | translate }}
          </option>
          <option value="6">
            {{ "MODAL_INFOVISIBLE.SEL_PRONOMBRE.NO_RESPONDE" | translate }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="nombre" class="form-label">{{
          "DATOS_USUARIO.NOMBRE" | translate
        }}</label>
        <input type="password" class="form-control" id="nombre" />
      </div>

      <div class="mb-3">
        <label for="fnacimiento" class="form-label">{{
          "DATOS_USUARIO.FECHA_NACIMIENTO" | translate
        }}</label>
        <input type="date" class="form-control" id="fnacimiento" />
      </div>

      <div class="mb-3">
        <label for="edad" class="form-label"
          >{{ "DATOS_USUARIO.EDAD" | translate }}
        </label>
      </div>

      <div class="mb-4">
        <label for="vehiculos" class="form-label"
          >{{ "DATOS_USUARIO.MIS_VEHICULOS" | translate }}
        </label>
        <input type="date" class="form-control" id="vehiculos" />
      </div>

      <div class="mb-4">
        <label for="preferencias" class="form-label">{{
          "MI_PERFIL.PREF_VIAJE.CUANDO_VIAJO" | translate
        }}</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ "MI_PERFIL.PREF_VIAJE.HABLAR" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.PREF_VIAJE.MUSICA" | translate }}
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.PREF_VIAJE.DORMIR" | translate }}
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            {{ "MI_PERFIL.PREF_VIAJE.SILENCIO" | translate }}
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label for="bio" class="form-label">{{
          "MI_PERFIL.SOBRE_TI" | translate
        }}</label>
        <textarea
          class="form-control"
          id="bio"
          rows="5"
          placeholder="{{ 'MI_PERFIL.PLACE_SOBRETI' | translate }}"
        ></textarea>
      </div>

      <div class="btn d-flex justify-content-center">
        <button type="submit" class="btn btn_bg">
          {{ "GUARDAR" | translate }}
        </button>
      </div>
    </form>
  </mat-dialog-content>
</div>
