<h1>{{ 'HOME.MOST_POPULAR_TRAVELS_TITLE' | translate }}</h1>
<ion-grid>
  <ion-row>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Madrid</span>
          <span class="flecha">⬇</span>
          <span class="destino">Valencia</span>
        </div>
      </button>
    </ion-col>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Barcelona</span>
          <span class="flecha">⬇</span>
          <span class="destino">Sevilla</span>
        </div>
      </button>
    </ion-col>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Bilbao</span>
          <span class="flecha">⬇</span>
          <span class="destino">Granada</span>
        </div>
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Zaragoza</span>
          <span class="flecha">⬇</span>
          <span class="destino">Málaga</span>
        </div>
      </button>
    </ion-col>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Valencia</span>
          <span class="flecha">⬇</span>
          <span class="destino">Cádiz</span>
        </div>
      </button>
    </ion-col>
    <ion-col>
      <button mat-raised-button class="me-2 buttons">
        <div class="trayecto">
          <span class="origen">Alicante</span>
          <span class="flecha">⬇</span>
          <span class="destino">Santander</span>
        </div>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
